{% extends layout_frontend %}
{% block title %}Identification étudiant{% endblock %}
{% block content %}
    <!-- hidden Title H1 -->
    <h1 class="hide">Identifiez-vous</h1>

    <!-- big slider banner authentification espace etudiant -->
    <section class="banner banner-espaceEtudiant">
        <div class="banner-container">
            <figure class="bigImg">
                <img src="{{ asset('/assets/images/data/banner-authentication.png') }}" alt="Authentification Etudiant">
            </figure>
            <div class="desc">
                <div class="container">
                    <h2 class="main-title">Authentification</h2>
                    <p class="sub-title">Espace étudiant</p>
                </div>
            </div>
        </div>
    </section>

    <div class="main-container authentication-container">
        <div class="container">
            <div class="row no-gutters m-auto">
                {#<div class="col-md-6 mobile-hidden">
                    <figure class="authentication-bg">
                        <img src="{{ asset('/assets/images/data/photo-authentification.png') }}" alt="image authentication">
                    </figure>
                </div>#}
                <div class="col-md-10">
                    <article class="mainBloc mainBloc-authentication" id="mainBloc">
                        <h2>Veuillez renseigner votre nouveau mot de passe</h2>
                        <div class="form-bloc">
                            {{ form_errors(form) }}
                            {{ form_start(form) }}
                                <div class="form-row">
                                    <div class="col-12">
                                        {{ form_row(form.password.first) }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-12">
                                        {{ form_row(form.password.second) }}
                                    </div>
                                </div>
                                <div class="form-row actions text-right">
                                    <div class="col-12">
                                        <div class="groups-btn">
                                            <button class="btn btn-connexion" type="submit" name="Se connecter">Valider</button>
                                        </div>
                                    </div>
                                </div>
                                <p class="helpLink"><a href="" title="Vous avez besoin d'aide ?">Vous avez besoin d'aide ?</a></p>
                            {{ form_end(form) }}
                        </div>
                    </article> <!-- /main Bloc -->
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        ( function( $ ) {
            $(document).ready(function () {

            });

        } )( jQuery );
    </script>
{% endblock %}

