{% extends layout_frontend %}
{% block title %}Identification étudiant{% endblock %}
{% block content %}
    <!-- hidden Title H1 -->
    <h1 class="hide">Identifiez-vous</h1>

    <!-- big slider banner authentification espace etudiant -->
    <section class="banner banner-espaceEtudiant">
        <div class="banner-container">
            <figure class="bigImg">
                <img src="{{ asset('/assets/images/data/banner-authentication.png') }}" alt="Authentification Etudiant">
            </figure>
            <div class="desc">
                <div class="container">
                    <h2 class="main-title">Authentification</h2>
                    <p class="sub-title">Espace étudiant</p>
                </div>
            </div>
        </div>
    </section>

    <div class="main-container authentication-container">
        <div class="container">
            <div class="row no-gutters m-auto">
                {#<div class="col-md-6 mobile-hidden">
                    <figure class="authentication-bg">
                        <img src="{{ asset('/assets/images/data/photo-authentification.png') }}" alt="image authentication">
                    </figure>
                </div>#}
                <div class="col-md-10">
                    <article class="mainBloc mainBloc-authentication" id="mainBloc">
                        <h2>Mot de passe oublié</h2>
                        <div id="flash-message-wraper">
                            {% for label, messages in app.flashes %}
                                {% set alert_color = (label == 'success') ? 'success' : 'danger' %}
                                {% for message in messages %}
                                    <div is="flash-message" class="alert alert-{{ alert_color }} alert-dismissible" role="alert">
                                        {{ message|raw }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                        <div class="intro-text">
                            <p>Veuillez entrer votre adresse email vers laquelle nous vous enverons un lien
                                pour que vous puissiez réinitialiser votre mot de passe.</p>
                        </div>
                        <div class="form-bloc">
                            <form id="form-login" method="post" autocomplete="off">
                                <input id="token" type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <div class="form-group">
                                    <label class="control-label" for="user-email">Adresse email<span class="required">*</span></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="iconucm-user"></i></span>
                                        </div>
                                        <input type="text" autocomplete="new password" class="form-control" id="email" name="email" placeholder="Votre idenntifiant" autofocus required>
                                    </div>
                                    <div class="invalid-feedback"></div>
                                </div>
                                <div class="groups-btn">
                                    <button class="btn btn-connexion" type="submit" name="Se connecter">Valider</button>
                                </div>
                                <p class="helpLink"><a href="" title="Vous avez besoin d'aide ?">Vous avez besoin d'aide ?</a></p>
                            </form>
                        </div>
                    </article> <!-- /main Bloc -->
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        ( function( $ ) {
            $(document).ready(function () {

            });

        } )( jQuery );
    </script>
{% endblock %}