{% extends layout_backend %}
{% block title %}Semestre::Liste{% endblock %}

{% set menuFormation = true %}
{% set menuFormationSemestreListe = true %}

{% block pageicon %}
    pe-7s-box1
{% endblock %}
{% block pagetitle %}
    Liste des Semestres
{% endblock %}
{% block pagetitlesmall %}{% endblock %}
{% block content %}
{% for message in app.flashes('Infos') %}
    <div class="alert alert-success" style="border:none;border-radius:0;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color:#fff; opacity:0.9;">&times;</a>
        {{ message }}
    </div>
{% endfor %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-bd lobidrag">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="list-count">
                            <span class="title-count-text"> TOTAL: </span><span class="title-count"></span>
                        </div>
                    </div>
                </div>
                <div class="add-btn-top-list">
                    <a href="{{ path('admin_rf_semestre_new') }}" onclick=";"><button class="btn btn-mini btn-mini-rectif"><i class="glyphicon glyphicon-plus"></i> Nouveau</button></a>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover list-data">
                            <thead>
                            <tr>
                                <th>Niveau</th>
                                <th>Semestre</th>
                                <th>Date de début</th>
                                <th>Date de fin</th>
                                <th>Ecolage (Ar)</th>
                                <th>Crédits</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for smt in semestres %}
                                <tr>
                                    <td>{{ smt.niveau.libelle }}</td>
                                    <td>{{ smt.libelle }}</td>
                                    <td>{{ smt.startDate | date('d/m/Y') }}</td>
                                    <td>{{ smt.endDate | date('d/m/Y') }}</td>
                                    <td>{{ smt.ecolage }}</td>
                                    <td>{{ smt.credit }}</td>
                                    <td style="text-align: center;">
                                        <a href="{{ path('admin_rf_semestre_edit', { id: smt.id }) }}" title="Modifier">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </a>
                                            &nbsp;
                                        <form id="delete-form-{{smt.id}}" method="post" action="{{ path('admin_rf_semestre_delete', {id: smt.id })}}" style="display:inline-block">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{csrf_token('delete' ~ smt.id)}}">
                                            <a class="" onclick="javascript:deleteElement('{{ smt.id }}');" href="javascript:;" title="Supprimer">
                                                <i class="glyphicon glyphicon-remove color-red"></i>
                                            </a>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/jquery.mask.min.js') }}"></script>
    <script>
        function deleteElement(id) {
            if (confirm('Etes-vous sûr de vouloir supprimer cet element ?')) {
                $("#delete-form-"+id).submit();
            }
        }
        
        $(document).ready(function () {
            $('.list-data').DataTable({
                "rubriqueLength": 10,
                "order": [[ 0, "asc" ]],
                "bProcessing": true,
                "bFilter": true,
                "oLanguage": {
                    "sProcessing": "traitement...",
                    "oPaginate": {
                        "sPrevious": "Précédente",
                        "sNext": "Suivante",
                    },
                    "sSearch": "Filtrer: ",
                    "sLengthMenu": "Afficher _MENU_ enregistrement par semestre",
                    "sInfo": "Voir _TOTAL_ de _PAGE_ pour _PAGES_ entrées",
                    "sInfoEmpty": "Voir 0 de 0 pour 0 entrées",
                    "sEmptyTable": "Aucune enregistrement trouvée",
                },
                "footerCallback": function ( row, data, start, end, display ) {
                    $('.title-count').html(display.length);
                }
            });
        });

    </script>
{% endblock %}