<style>
    .form-group legend {
        font-size: 14px;
        font-weight: bold;
    }
</style>

{% set action = path('admin_rf_concours_centre_new') %}
{% if concCentre.id %}
    {% set action = path('admin_rf_concours_centre_edit', { id: concCentre.id }) %}
{% endif %}
<section class="content">
    <form id="batiment-new" method="POST" class="page-form-edit-new form-validation" enctype="multipart/form-data" role="form" action="{{action}}">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-bd">
                    <div class="panel-heading">
                        <div class="panel-title">
                        {% if concCentre.id %}
                            <h4>Modification</h4>
                        {% else %}
                            <h4>Ajouter un centre</h4>
                        {% endif %}
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            {{ form_errors(form) }}
                            {{ form_row(form._token) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.name, 'Nom *') }}
                            {{ form_widget(form.name, {'attr':{'required':'required'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.code, 'Code') }}
                            {{ form_widget(form.code) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-bd">
                    <div class="panel-body">
                        {% if concCentre.id %}
                            <button type="submit" class="btn btn-primary" id="btn-submit-product-form">Modifier</button>
                        {% else %}
                            <button type="submit" class="btn btn-primary" id="btn-submit-product-form">Enregistrer</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </form>
</form>