{% extends layout_frontend %}
{% block title %}{{article.title}} | UCM{% endblock %}
{% block content %}
<div class="main-container">
    <!-- hidden Title H1 -->
    <h1 class="hide">Article</h1>

    <!-- big slider banner -->
    <section class="banner banner-training">
        <div class="container">
            <figure class="bigImg-debugdd">
                <img src="{{ asset("uploads/article/") ~ article.uuid ~ "/1073-" ~ article.path }}">
            </figure>
            <div class="desc">
                <div class="container d-none">
                    <h2 class="item-title">{{ article.title }}</h2>
                </div>
            </div>
        </div>
    </section> <!-- /big slider banner -->

    <!-- breadcrumb -->
    <nav aria-label="breadcrumb" class="breadcrumb-bloc container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="iconucm-home"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="/" title="Article">Article</a></li>
            <li class="breadcrumb-item active" aria-current="page"><span>{{article.title}}</span></li>
        </ol>
    </nav><!-- breadcrumb -->
    
    <div class="main-contentPage article-container">
        <div class="container">
            <!-- aside Right -->
            <aside class="asideRight asideSticky d-none">
                <!-- aside Right actuality-->
               <!--  {{ include('frontend/layoutactus/_actus.html.twig') }}-->
            </aside>
            <!-- /aside Right -->

            <!-- main Bloc -->
            <article class="m-auto" id="mainBloc">
                <!-- main content training -->
                <section class="trainingDetail-bloc">
                    <div class="main-bloc">
                        <div class="top-titre">
                            <div class="title-group">
                                <p class="sup-title">Article</p>
                                <h2 class="title-bloc">{{article.title}}</h2>
                                <!-- <h2 class="title-bloc">{{article.description}}</h2> -->
                            </div>
                        </div>
                        
                        <div class="data_publication date-pub">
                            Publié le: {{ article.updatedAt | date('d/m/Y') }}
                        </div>
                        
                        <!-- tabs and swipe system -->
                        <section class="article-content richText">
                            <p>{{article.description|raw}}</p>
                            {{article.detail|raw}}
                        </section>
                        <!-- /tabs and swipe system -->
                    </div>
                </section>
            </article> <!-- /main Bloc -->
        </div>

        <section class="offres-bloc">
            <figure class="backgroundImg">
                <img src="{{ asset('/assets/images/data/training/banner-economics-management.png') }}" alt="Training Background">
            </figure>
            <div class="content-text">
                <div class="container">
                    <h2 class="offres-title">Intéressé ?</h2>
                    <h3 class="sub-title">Alors, n'hésitez pas à nous envoyer votre dossier, à bientôt !</h3>
                    <p class="group-btns">
                        <a class="btn-primary" href="" title="Candidature spontanée">Candidature spontanée</a>
                        <a class="btn-primary" href="" title="Consultez nos offres">Consultez nos offres</a>
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}
