{% extends layout_frontend %}
{% block title %}Fiche vacation{% endblock %}
{% block content %}
<div class="main-container">
    <!-- hidden Title H1 -->
    <h1 class="hide">Vacation</h1>

    <!-- big slider banner espace chef de mention -->
    <section class="banner banner-espaceEtudiant banner-espaceAssistant">
        <div class="banner-container">
            <div class="container">
                <div class="row">
                    <figure class="col-12 bigImg-back">
                        <img src="{{ asset('/assets/images/data/banner-authentication.png') }}" alt="Espace étudiant" width="100%">
                    </figure>
                </div>
            </div>
            <div class="desc">
                <div class="container">
                    <h2 class="main-title">{{ workspaceTitle }}</h2>
                </div>
            </div>
        </div>
    </section><!-- /Big slider -->

    <!-- breadcrumb -->
    <nav aria-label="breadcrumb" class="breadcrumb-bloc container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="iconucm-home"></i></a></li>
            <li class="breadcrumb-item"><a href="{{ path(workspacePath) }}" title="Chef de mention">{{ workspaceTitle }}</a></li>
            <li class="breadcrumb-item active" aria-current="page"><span>Vacation</span></li>
        </ol>
    </nav><!-- /breadcrumb -->

    <div class="main-contentPage spaceAssistant-container">
        <div class="container container_row">
            <!-- aside Left -->
            <aside class="asideLeft asideSticky">
                {{ include('frontend/chef-mention/_menu.html.twig') }}
            </aside> <!-- /aside Left -->
               
            <!-- main Bloc -->
            <article class="mainBloc mainBloc-etudiants mainBloc-assistant" id="mainBloc">
                <div class="title-group">
                    <p class="sup-title">
                        {% if is_granted('ROLE_CHEFMENTION') %}
                            Chef de mention
                        {% elseif is_granted('ROLE_SG') %}    
                            Sécretaire général
                        {% endif %}
                    </p>
                    <h2 class="title-bloc">Vacation</h2>
                </div>
                <div class="form-bloc filter-bloc">
                    <div class="card">
                        <div class="card-body">
                            <form id="filter-form" autocomplete="off">
                                <div class="row">                                   
                                    <div class="form-group row">
                                        <label class="col-lg-2">Calendrier :</label>
                                        <div class="form-field select-field col-lg-4">
                                            <select class="form-control" name="calendrier-paiement" id="calendrier_paiement">
                                                <option value="">--- Sélectionner ---</option>
                                                {% for cal in calPaiements %}
                                                    <option value="{{ cal.id }}" 
                                                        {% if  cal.id == c %}selected{% endif %}>{{ cal.libelle }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <label class="col-lg-2">Mention :</label>
                                        <div class="form-field select-field col-lg-4">
                                            <select class="form-control" name="mention" id="mention">
                                                <option value="">--- Sélectionner ---</option>
                                                {% for men in mentions %}
                                                    <option value="{{ men.id }}" 
                                                        {% if  men.id == m %}selected{% endif %}>{{ men.nom }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> <!-- /filter block -->
                <!-- content  -->
                <section class="content presenceEnseignant-content richText">
                    <div class="table-responsive table-wrapper">
                        {% if fPresenceEnseignants is defined and fPresenceEnseignants | length > 0 %}
                            <table class="table table-bordered table-hover list-data">
                                <thead>
                                    <tr>
                                        <th class="text-center">Enseignant</th>
                                        <th class="text-center">Nombre de matière</th>
                                        <th class="text-center">Heures effectuées</th>
                                        <th class="text-center">Montant</th>
                                        <th class="text-center">Impot</th>
                                        <th class="text-center">NET</th>

                                        <th class="text-center">Etat</th>
                                        <th class="text-center">Statut</th>

                                        <th class="action_col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for presence in fPresenceEnseignants %}
                                        <tr class="middle-align">
                                            {% set montantTTC = presence.montantHT / 0.98 %}
                                            {% set montantImpot = montantTTC * 0.02 %}
                                            {% set count_validatable_edt = 0 %}
                                            {% set count_validated_edt = 0 %}
                                            {% for statut in presence.statut_2|split(',')|filter((t) => t == profilListStatut) %}
                                                {% set count_validatable_edt = count_validatable_edt + 1 %}
                                            {% endfor %}
                                            {% for statut in presence.statut_2|split(',')|filter((t) => t >= profilNextStatut) %}
                                                {% set count_validated_edt = count_validated_edt + 1 %}
                                            {% endfor %}
                                            <td class="w-20">{{ presence.enseignant }}</td>
                                            <td class="text-center w-5">{{ presence.nbrMatiere }}</td>
                                            <td class="text-center w-5">{{ presence.totalH }}</td>
                                            <td class="text-center w-10">{{ montantTTC | number_format(2, '.', ' ') }}</td>
                                            <td class="text-center w-7">{{ montantImpot | number_format(2, '.', ' ') }}</td>
                                            <td class="text-center w-10">{{ presence.montantHT | number_format(2, '.', ' ') }}</td>

                                            <td class="text-center w-10">
                                                {% if count_validated_edt > 0 and (count_validated_edt == presence.statut_2|split(',')|length) %}
                                                    Validé
                                                {% else %}
                                                    {% if count_validatable_edt > 0 %}
                                                        En cours
                                                        {% else %}
                                                            En attente
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            <td class="text-center w-10">
                                                {% if count_validatable_edt > 0 %}
                                                    {{ count_validatable_edt }} cours à valider
                                                {% endif %}
                                            </td>
                                            <td class="action_col w-5">
                                                <div class="wrap-btn">
                                                    <a class="btn" href="{{ path(vacationEnseignantPath, { id: presence.ensId}) }}?c={{c}}&m={{m}}" title="Modifier">
                                                            <i class="far fa-edit"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </section>
            </article> <!-- /main Bloc -->
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        ( function( $ ) {
            $(document).ready(function () { 
                mentionId = $("#mention").val();
                calId = $("#calendrier_paiement").val();
                $("#calendrier_paiement").bind('change', function(){
                    window.location.href = "{{ path(vacationPath) }}?c=" + $(this).val() + "&m=" + mentionId;
                });
                $("#mention").bind('change', function(){
                    window.location.href = "{{ path(vacationPath) }}?m=" + $(this).val() + "&c=" + calId;
                });
            });
        } )( jQuery );
    </script>
{% endblock %}

