<style>
    .form-group legend {
        font-size: 14px;
        font-weight: bold;
    }
</style>

{% set action = path('admin_programmes_add') %}
{% if Programme.id %}
    {% set action = path('Programme_edit', { id: Programme.id }) %}
{% endif %}
<section class="content">
    <form id="actualite-new" method="POST" class="page-form-edit-new form-validation" enctype="multipart/form-data" role="form" action="{{action}}">
        {{ form_errors(form) }}
        {{ form_row(form._token) }}
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-bd">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h4>Ajouter des Programmes</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-bd">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h4>Programmes: informations principales</h4>
                        </div>
                    </div>
                    <div class="panel-body">
                            
                        <div class="form-group">
                            {{ form_label(form.nom, 'Nom') }}
                            {{ form_widget(form.nom) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.objectif, 'Objectif') }}
                            {{ form_widget(form.objectif) }}
                        </div>

                        

                        <div class="form-group">
                            {{ form_label(form.description, 'Description') }}
                            {{ form_widget(form.description) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.curriculum, 'Curriculum') }}
                            {{ form_widget(form.curriculum) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.admission, 'Admission') }}
                            {{ form_widget(form.admission) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.image_programmes, 'images') }}
                            {{ form_widget(form.image_programmes) }}
                        </div>

                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-bd">
                    <div class="panel-body">
                        <button type="submit" class="btn btn-primary" id="btn-submit-actualite-form">Enregistrer</button>
                    </div>
                </div>
            </div>
        </div>
        
    </form>
</section>
