{% extends layout_frontend %}
{% block title %}Candidature notes{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/libs/datatable/jquery.dataTables.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/libs/datatable/buttons.dataTables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/libs/datatable/DT_bootstrap.css') }}"/>
    <style>
        .dt-buttons button {
            color: #f2f2f2;
            /*font-size: 12px;*/
            border-radius: 4px;
            /*border: 1px solid #64c3c2 !important;*/
            background: #282b2b;
        }

        .dt-buttons button:hover {
            color: #f2f2f2;
            /*font-size: 12px;*/
            border-radius: 4px !important;
            /*border: 1px solid #64c3c2 !important;*/
            background: #282b2b !important;
        }

        .dt-buttons {
            /*position: absolute!important;*/
            left: 50%;
        }
    </style>
{% endblock %}

{% block content %}
<div class="main-container">
    <!-- hidden Title H1 -->
    <h1 class="hide">Candidature notes</h1>

    <!-- big slider banner scollarité -->
    <section class="banner banner-scolarite">
        <div class="banner-container">
            <div class="container">
                <div class="row">
                    <figure class="col-12 bigImg-back">
                        <img src="{{ asset('/assets/images/data/banner-authentication.png') }}" alt="Espace étudiant" width="100%">
                    </figure>
                </div>
            </div>
            <div class="desc">
                <div class="container">
                    <h2 class="main-title">Espace {{ workspaceTitle }}</h2>
                </div>
            </div>
        </div>
    </section><!-- /Big slider -->


    <!-- breadcrumb -->
    <nav aria-label="breadcrumb" class="breadcrumb-bloc container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="iconucm-home"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="" title="Espace scolarité">Espace {{ workspaceTitle }}</a></li>
            <li class="breadcrumb-item active" aria-current="page"><span>Candidature notes</span></li>
        </ol>
    </nav><!-- /breadcrumb -->

    <div class="main-contentPage spaceScolarity-container">
        <div class="container container_row">
            <!-- aside Left -->
            <aside class="asideLeft asideSticky">
                {{ include('frontend/chef-mention/_menu.html.twig') }}
            </aside><!-- /aside Left -->

            <!-- main Bloc -->
            <article class="mainBloc mainBloc-etudiants mainBloc-scolarity" id="mainBloc">
                <section class="listNotes-content content richText">
                    <!-- content -->
                    <div class="title-group">
                        <p class="sup-title">{{ workspaceTitle }}</p>
                        <h2 class="title-bloc">Gestion des notes de "{{ candidate.fullName }}"</h2>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="form-bloc">
                                <form id="filter-form" method="post">
                                    {% if matieresNotes|length > 0 %}
                                        {{ form_start(form, {'attr': {'class': 'row'}}) }}
                                        {{ form_row(form._token) }}
                                        <input type="hidden" id="c" name="c" value="{{ c }}" />
                                        <input type="hidden" id="p" name="p" value="{{ p }}" />
                                        <div class="listNotes-bloc">
                                            {% for k, item in matieresNotes %}
                                            <div class="{% if k > 0 %}m-t-0{% endif %} form-group row">
                                                <label class="control-label text-right col-md-6" for="firstName">{{ item.matiere_libelle }} :</label>
                                                <div class="col-md-6">
                                                    <input type="text" name="note_{{ item.concours_candidature_id ~ '_' ~ item.concours_matiere_id ~ '_' ~ item.concours_id }}" value="{{ item.note }}" class="text-right" />
                                                    <span class="coefficient"> / 20</span>
                                                </div>
                                            </div>
                                            
                                            {% endfor %}
                                            
                                            <div class="groups-btn justify-content-center">
                                                <a class="btn btn-parimary btn-connexion btn-cancel m-l-10" type="button" href="{{ path(resultConcoursPath, { 'c' : c, 'p' : p}) }}">
                                                    <span type="button">RETOUR</span>
                                                </a>
                                                {% if not is_granted('ROLE_CHEFMENTION') %}
                                                    <button class="btn btn-parimary btn-connexion btn-cancel m-l-10" type="submit">
                                                        <span type="button">MODIFIER</span>
                                                    </button>
                                                {% endif %}
                                            </div>
                                            
                                        </div>
                                        {{ form_end(form, {'render_rest': false}) }}
                                    {% else %}
                                        <p class="alert alert-secondary text-center" role="alert">
                                            Aucune matiére engregistrée pour le concours <strong>"{{ concours.libelle }}"</strong> de la mention <strong>"{{ mention.nom }}"</strong>
                                        </p>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </article> <!-- /main Bloc -->
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script>
        ( function( $ ) {
            $(document).ready(function () {
            });
        } )( jQuery );
    </script>
{% endblock %}

