{% extends layout_frontend %}
{% block title %}Fiche présence enseignants{% endblock %}
{% block content %}
<div class="main-container">
    <!-- hidden Title H1 -->
    <h1 class="hide">Saisie absence</h1>

    <!-- big slider banner scollarité -->
    <section class="banner banner-scolarite">
        <div class="banner-container">
            <div class="container">
                <div class="row">
                    <figure class="col-12 bigImg-back">
                        <img src="{{ asset('/assets/images/data/banner-authentication.png') }}" alt="Espace étudiant" width="100%">
                    </figure>
                </div>
            </div>
            <div class="desc">
                <div class="container">
                    <h2 class="main-title">Espace Scolarité</h2>
                </div>
            </div>
        </div>
    </section><!-- /Big slider -->

    <!-- breadcrumb -->
    <nav aria-label="breadcrumb" class="breadcrumb-bloc container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="iconucm-home"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="" title="Espace scolarité">Espace scolarité</a></li>
            <li class="breadcrumb-item active" aria-current="page"><span>Saisie absence</span></li>
        </ol>
    </nav><!-- /breadcrumb -->

    <div class="main-contentPage spaceScolarity-container">
        <div class="container container_row">
           <!-- aside Left -->
           <aside class="asideLeft asideSticky">
                {{ include('frontend/scolarite/_menu.html.twig') }}
            </aside><!-- /aside Left -->

            <!-- main Bloc -->
            <article class="mainBloc mainBloc-etudiants mainBloc-scolarity" id="mainBloc">
                <!-- content  -->
                <section class="ficheAbsence-content richText">
                    <div class="title-group">
                        <p class="sup-title">Scolarité</p>
                        <h2 class="title-bloc">Fiche d'absence</h2>
                    </div>
                    <form id="emploi_du_temps-new" method="POST" class="page-form-edit-new form-validation" enctype="multipart/form-data" role="form">
                        <h3 class="text-danger">{{ form_errors(form) }}</h3>

                        {{ form_start(form, {'attr': {'class': 'row'}}) }}
                        {{ form_row(form._token) }}
                        <div class="form-bloc form-inline">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <label class="control-label col-xl-3" for="plusInfos-stnd">Faculté <span class="required">*</span> :</label>
                                    <div class="form-field select-field col-xl-9">
                                        {{ form_widget(form.domaine) }}
                                        <span class="error">{{ form_errors(form.domaine) }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <label class="control-label col-xl-3" for="plusInfos-stnd">Mention <span class="required">*</span> :</label>
                                    <div class="form-field select-field  col-xl-9">
                                        {{ form_widget(form.mention) }}
                                        <span class="error">{{ form_errors(form.mention) }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <label class="control-label col-xl-3" for="plusInfos-stnd">Niveau <span class="required">*</span> :</label>
                                    <div class="form-field select-field col-xl-9">
                                        {{ form_widget(form.niveau) }}
                                        <span class="error">{{ form_errors(form.niveau) }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <label class="control-label col-xl-3" for="plusInfos-stnd">Parcours <span class="required"></span> :</label>
                                    <div class="form-field select-field col-xl-9">
                                        {{ form_widget(form.parcours) }}
                                        <span class="error">{{ form_errors(form.parcours) }}</span>
                                    </div>
                                </div>
                            </div>
                            {#<div class="col-lg-6">
                                <div class="form-group row">
                                    <label class="control-label col-xl-3" for="plusInfos-stnd">UE <span class="required"></span> :</label>
                                    <div class="form-field select-field col-xl-9">
                                        {{ form_widget(form.ue) }}
                                        <span class="error">{{ form_errors(form.ue) }}</span>
                                    </div>
                                </div>
                            </div>#}

                            {#<div class="col-lg-6">
                                <div class="form-group row">
                                    <label class="control-label col-xl-3" for="plusInfos-stnd">EC <span class="required"></span> :</label>
                                    <div class="form-field select-field col-xl-9">
                                        {{ form_widget(form.matiere) }}
                                        <span class="error">{{ form_errors(form.matiere) }}</span>
                                    </div>
                                </div>
                            </div>#}                            

                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <label class="control-label col-xl-3" for="plusInfos-stnd">Date <span class="required">*</span> :</label>
                                    <div class="col-xl-9">
                                        {{ form_widget(form.date) }}
                                        <span class="error">{{ form_errors(form.date) }}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <label class="control-label col-xl-3" for="plusInfos-stnd">Emploi du temps <span class="required"></span> :</label>
                                    <div class="form-field select-field col-xl-9">
                                        <select id="absence_emploi_du_temps" name="absence[emploi_du_temps]" class="form-control">
                                            </select>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="control-label" for="plusInfos-stnd">Liste des étudiants :</label>
                                    <div name="absence_etudiant_list" id="absence_etudiant_list"></div>
                                </div>
                            </div>
                            <div class="groups-btn justify-content-end mt-0">
                                <button id="submit_button" type="submit" disabled class="btn btn-primary">Valider</button>
                            </div>
                        </div>
                    </form>
                </section>
            </article> <!-- /main Bloc -->
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        ( function( $ ) {
            $(document).ready(function () {
                _defaultOption = "<option value=\"\"> -- Séléctionnez -- </option>";
                $('#absence_domaine').bind('change', function(){
                    $('#absence_emploi_du_temps').html('');
                    $('#absence_etudiant_list').html('');
                    departementId = $(this).val();
                    $.ajax({
                        method: "GET",
                        url: '{{ path('front_scolarite_presence_enseignant_ajax_options') }}',
                        data: { 
                            parent_name: 'departement',
                            parent_id: departementId,
                        }
                    }).done(
                        function(html){
                            $('#absence_mention').html(html);
                            $('#absence_niveau').val("");
                            $('#absence_parcours').html(_defaultOption);
                            $('#absence_ue').html(_defaultOption);
                            $('#absence_matiere').html(_defaultOption);
                        } 
                    )
                });

                $('#absence_mention').bind('change', function(){
                    $('#absence_emploi_du_temps').html('');
                    $('#absence_etudiant_list').html('');
                    $('#absence_date').val('');
                    mentionId = $(this).val();
                    $.ajax({
                        method: "GET",
                        url: '{{ path('front_scolarite_presence_enseignant_ajax_options') }}',
                        data: { 
                            parent_name: 'mention',
                            parent_id: mentionId
                        }
                    }).done(
                        function(html){
                            $('#absence_parcours').html(_defaultOption);
                            $('#absence_niveau').val("");
                            $('#absence_ue').html(_defaultOption);
                            $('#absence_matiere').html(_defaultOption);
                        } 
                    )
                });

                $('#absence_niveau').bind('change', function(){
                    niveauId = $(this).val();
                    $('#absence_emploi_du_temps').html('');
                    $('#absence_etudiant_list').html('');
                    $('#absence_date').val('');
                    $.ajax({
                        method: "GET",
                        url: '{{ path('front_scolarite_presence_enseignant_ajax_options') }}',
                        data: { 
                            parent_name:    'niveau',
                            parent_id:      niveauId,
                            mention_id:     $('#absence_mention').val(),
                            parcours_id:    $('#absence_parcours').val(),
                            child_target:    'parcours'   
                        }
                    }).done(
                        function(html){
                            $('#absence_parcours').html(html);
                        } 
                    )
                }); 

                $('#absence_parcours').bind('change', function(){
                    $('#absence_emploi_du_temps').html('');
                    $('#absence_etudiant_list').html('');
                    $('#absence_date').val('');
                });

                $('#absence_date').bind('change', function(){
                    $('#absence_etudiant_list').html('');
                    $('#absence_emploi_du_temps').html('');
                    mentionId   = $('#absence_mention').val();
                    parcoursId  = $('#absence_parcours').val();
                    niveauId    = $('#absence_niveau').val();
                    //Get EDT
                    $.ajax({
                        method: "GET",
                        url: '{{ path('front_scolarite_absence_edt_list') }}',
                        data: { 
                            mention_id  :   mentionId,
                            parcours_id :   parcoursId,
                            niveau_id   :   niveauId,
                            date: $(this).val()
                        }
                    }).done(
                        function(html){
                            $('#absence_emploi_du_temps').html(html);
                        } 
                    )
                });

                $('#absence_emploi_du_temps').bind('change', function(){
                    mentionId   = $('#absence_mention').val();
                    parcoursId  = $('#absence_parcours').val();
                    niveauId    = $('#absence_niveau').val();
                    //Get Etudiant
                    $.ajax({
                        method: "GET",
                        url: '{{ path('front_scolarite_absence_etudiant_list') }}',
                        data: { 
                            mention_id  :   mentionId,
                            parcours_id :   parcoursId,
                            niveau_id   :   niveauId
                        }
                    }).done(
                        function(html){
                            $('#absence_etudiant_list').html(html);
                            $('#submit_button').removeAttr('disabled');
                        } 
                    )
                });

            });

        } )( jQuery );
    </script>
{% endblock %}

