{% extends layout_backend %}
{% block title %}Parcours::Liste{% endblock %}

{% set menuFormation = true %}
{% set menuFormationParcoursListe = true %}

{% block pageicon %}
    pe-7s-box1
{% endblock %}
{% block pagetitle %}
    Liste des parcours
{% endblock %}
{% block pagetitlesmall %}{% endblock %}
{% block content %}
{% for message in app.flashes('Infos') %}
    <div class="alert alert-success" style="border:none;border-radius:0;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color:#fff; opacity:0.9;">&times;</a>
        {{ message }}
    </div>
{% endfor %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-bd lobidrag">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="list-count">
                            <span class="title-count-text"> TOTAL: </span><span class="title-count"></span>
                        </div>
                    </div>
                </div>
                <div class="add-btn-top-list">
                    <a href="{{ path('admin_rf_parcours_new') }}" onclick=";"><button class="btn btn-mini btn-mini-rectif"><i class="glyphicon glyphicon-plus"></i> Nouveau</button></a>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover list-data">
                            <thead>
                            <tr>
                                <th>Nom parcours</th>
                                <th>Diminutif</th>
                                <th>Mention</th>
                                <th>Niveau</th>
                                <th>Statut</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for parcour in parcours %}
                                <tr>
                                    <td>{{ parcour.nom }}</td>
                                    <td>{{ parcour.diminutif }}</td>
                                    <td>{{ parcour.mention.nom }}</td>
                                    <td>
                                        {% if parcour.niveau.libelle is defined %}
                                            {{ parcour.niveau.libelle }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if parcour.active == "0" %}
                                            Desactive
                                        {% else %}
                                            Active
                                        {% endif %}
                                    </td>
                                    <td style="text-align: center; display:inline-block;">
                                        &nbsp;
                                        <a href="{{ path('admin_rf_parcours_edit', { id: parcour.id }) }}" title="Modifier">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </a>
                                        <form id="delete-form-{{parcour.id}}" method="post" action="{{ path('admin_rf_parcours_delete', {id: parcour.id })}}" style="display:inline-block">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{csrf_token('delete' ~ parcour.id)}}">
                                            <a class="" onclick="javascript:deleteElement('{{ parcour.id }}');" href="javascript:;" title="Supprimer">
                                                <i class="glyphicon glyphicon-remove color-red"></i>
                                            </a>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/jquery.mask.min.js') }}"></script>
    <script>
        function deleteElement(id) {
            if (confirm('Etes-vous sûr de vouloir supprimer cet element ?')) {
                $("#delete-form-"+id).submit();
            }
        }

        $(document).ready(function () {
            $('.list-data').DataTable({
                "rubriqueLength": 10,
                "order": [[ 0, "desc" ]],
                "bProcessing": true,
                "bFilter": true,
                "oLanguage": {
                    "sProcessing": "traiteparcour...",
                    "oPaginate": {
                        "sPrevious": "Précédente",
                        "sNext": "Suivante",
                    },
                    "sSearch": "Filtrer: ",
                    "sLengthMenu": "Afficher _MENU_ enregistrement par parcours",
                    "sInfo": "Voir _TOTAL_ de _PAGE_ pour _PAGES_ entrées",
                    "sInfoEmpty": "Voir 0 de 0 pour 0 entrées",
                    "sEmptyTable": "Aucune enregistrement trouvée",
                },
                "footerCallback": function ( row, data, start, end, display ) {
                    $('.title-count').html(display.length);
                }
            });
        });

    </script>
{% endblock %}