{% extends layout_frontend %}
{% block title %}Candidatures{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <!-- <link rel="stylesheet" href="{{ asset('assets/css/libs/datatable/jquery.dataTables.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/libs/datatable/buttons.dataTables.min.css') }}"> -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/libs/datatable/DT_bootstrap.css') }}"/>
    <style>
        .dt-buttons button {
            /* color: #f2f2f2; */
            /*font-size: 12px;*/
            /* border-radius: 4px; */
            /*border: 1px solid #64c3c2 !important;*/
            /* background: #282b2b; */
        }

        .dt-buttons button:hover {
            /* color: #f2f2f2; */
            /*font-size: 12px;*/
            /* border-radius: 4px !important; */
            /*border: 1px solid #64c3c2 !important;*/
            /* background: #282b2b !important; */
        }

        .dt-buttons {
            /*position: absolute!important;*/
            /* left: 50%; */
        }
    </style>
{% endblock %}

{% block content %}
<div class="main-container">
    <!-- hidden Title H1 -->
    <h1 class="hide">Candidatures</h1>

    <!-- big slider banner scolarité -->
    <section class="banner banner-concours">
        <div class="banner-container">
            <figure class="bigImg">
                <img src="{{ asset('/assets/images/data/training/banner-training.png') }}" alt="Candidatures">
            </figure>
            <div class="desc">
                <div class="container">
                    <h2 class="main-title">Espace Scolarité</h2>
                </div>
            </div>
        </div>
    </section><!-- /Big slider -->

    <!-- breadcrumb -->
    <nav aria-label="breadcrumb" class="breadcrumb-bloc container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="iconucm-home"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="" title="Espace scolarité">Espace scolarité</a></li>
            <li class="breadcrumb-item active" aria-current="page"><span>Concours</span></li>
        </ol>
    </nav><!-- /breadcrumb -->

    <div class="main-contentPage spaceScolarity-container">
        <div class="container container_row">
            <!-- aside Left -->
            <aside class="asideLeft asideSticky">
                {{ include('frontend/scolarite/_menu.html.twig') }}
            </aside><!-- /aside Left -->

            <!-- main Bloc -->
            <article class="mainBloc mainBloc-etudiants mainBloc-scolarity" id="mainBloc">
                <section class="Concours-content content richText">
                    <!-- content -->
                    <div class="title-group">
                        <p class="sup-title">Scolarité</p>
                        <h2 class="title-bloc">Liste des candidats</h2>
                    </div>
                    <!-- filter block -->
                    <div class="form-bloc filter-bloc">
                        <div class="card">
                            <div class="card-body">
                                <form id="filter-form" autocomplete="off">
                                    <input type="hidden" id="m" value="{{ m }}">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group row">
                                                <label class="col-xl-4">Mentions :</label>
                                                <div class="form-field select-field col-xl-8">
                                                    <select class="form-control" name="mention" id="mention">
                                                        <option value="">--- Mentions ---</option>
                                                        {% for item in mentions %}
                                                            <option value="{{ item.id }}" {% if item.id == m %}selected{% endif %}>{{ item.nom }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group row">
                                                <label class="col-xl-4">Parcours :</label>
                                                <div class="form-field select-field col-xl-8">
                                                    <select class="form-control" name="parcours" id="parcours">
                                                        <option value="">--- Parcours ---</option>
                                                        {% for item in parcours %}
                                                            <option value="{{ item.id }}" {% if item.id == p %}selected{% endif %}>{{ item.nom }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group row">
                                                <label class="col-xl-4" >Concours :</label>
                                                <div class="form-field select-field col-xl-8">
                                                    <select name="concours" class="form-control" id="concours">
                                                        <option value="">--- Concours ---</option>
                                                        {% for item in concours %}
                                                            <option value="{{ item.id }}" {% if item.id == c %}selected{% endif %}>{{ item.libelle }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-8 mt-1">
                                            <div class="form-group row">
                                                <label class="col-2" >Candidat :</label>
                                                <div class="form-field col-10">
                                                    <input class="col-12" type="text" name="candidat" id="candidat" placeholder="Rechercher ...">
                                                </div>
                                            </div>
                                        </div>


                                    </div>                                      
                                        
                                    
                                </form>
                            </div>
                        </div>
                    </div> <!-- /filter block -->

                    <div class="table-responsive table-wrapper datatable-container" id="list-validated">
                        {% if candidates|length > 0 %}
                            <table class="table table-bordered table-hover table-advance">
                                <thead>
                                    <tr>
                                        <th>Matricule</th>
                                        <th>Nom</th>
                                        <th>Prénom</th>
                                        <th>Email</th>
                                        <th class="dt-action">Date de naissance</th>
                                        <th class="dt-action">Diplôme</th>
                                        <th class="action_col w-15">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in candidates %}
                                    <tr class="middle-align">
                                            <td>{{ item.immatricule }}</td>
                                            <td>{{ item.firstName }}</td>
                                            <td>{{ item.lastName }}</td>
                                            <td>{{ item.email }}</td>
                                            <td class="dt-action">{{ item.dateOfBirth | date('d/m/Y') }}</td>
                                            <td class="dt-action">{{ item.diplome }}</td>
                                            <td class="action_col w-15">
                                                <div class="wrap-btn">
                                                    <a class="btn" href="{{ path('front_concours_candidate_notes', { 'id': item.id }) }}?m={{ m }}&c={{ c }}&p={{ p }}">
                                                        {% if selectedConcours.resultStatut == constant('\\App\\Entity\\Concours::STATUS_CREATED') %}
                                                            <span>Gérer notes</span>
                                                        {% else %}
                                                            <span>Voir les notes</span>
                                                        {% endif %}
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p class="alert alert-secondary text-center" role="alert"><strong>Aucun résultat</strong></p>
                        {% endif %}
                    </div>
                </section>
            </article> <!-- /main Bloc -->
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script>
        ( function( $ ) {
            $(document).ready(function () {

                

                
                $('#mention').on('change', function () {
                    const mentionId = $(this).val(),
                    parcoursId = $('#parcours').val();
                    $("#list-validated").html('');
                    
                    $.ajax({
                        method: "GET",
                        url:    "{{ path('front_scolarite_concours_edt_ajax_concours') }}",
                        data:   {
                            mentionId:  mentionId,
                            parcoursId: parcoursId,
                        }
                    }).done(
                        function (html) {
                            $('#m').val(mentionId)
                            $('#concours').html(html);
                        }
                    )
                    $.ajax({
                        method: "GET",
                        url:    "{{ path('front_scolarite_concours_edt_ajax_parcours') }}",
                        data:   {
                            mentionId:  mentionId
                        }
                    }).done(
                        function (html) {
                            $('#m').val(mentionId)
                            $('#parcours').html(html);
                        }
                    )
                });


                $('#parcours').on('change', function () {
                    const mentionId = $('#mention').val(),
                        parcoursId = $(this).val();
                    $("#list-validated").html('');
                    $.ajax({
                        method: "GET",
                        url:    "{{ path('front_scolarite_concours_edt_ajax_concours') }}",
                        data:   {
                            mentionId:  mentionId,
                            parcoursId: parcoursId,
                        }
                    }).done(
                        function (html) {
                            $('#concours').html(html);
                        }
                    )
                });

                $('#concours').on('change', function () {
                    const mentionId = $('#mention').val(),
                        parcoursId = $('#parcours').val(),
                        concoursId = $(this).val();
                    $("#list-validated").html('');
                    $.ajax({
                        method: "GET",
                        url:    "{{ path('front_concours_ajax_candidates') }}",
                        data:   {
                            m:  mentionId,
                            p: parcoursId,
                            c: concoursId,
                        }
                    }).done(
                        function (html) {
                            $('#list-validated').html(html);
                        }
                    )
                });

                $('#candidat').on('keyup', function () {
                    const mentionId = $('#mention').val(),
                        parcoursId = $('#parcours').val(),
                        concoursId = $('#concours').val(),
                        qString    = $(this).val();
                    $("#list-validated").html('');
                    $.ajax({
                        method: "GET",
                        url:    "{{ path('front_concours_ajax_candidates') }}",
                        data:   {
                            m:  mentionId,
                            p: parcoursId,
                            c: concoursId,
                            q: qString
                        }
                    }).done(
                        function (html) {
                            $('#list-validated').html(html);
                        }
                    )
                });
                
               
            });

        } )( jQuery );
    </script>
{% endblock %}

