{% extends layout_frontend %}
{% block title %}Frais de Scolarité{% endblock %}
{% block content %}
<div class="main-container">
    <!-- hidden Title H1 -->
    <h1 class="hide">Frais de Scolarité</h1>

    <!-- big slider banner scollarité -->
    <section class="banner banner-scolarite">
        <div class="banner-container">
            <div class="container">
                <div class="row">
                    <figure class="col-12 bigImg-back">
                        <img src="{{ asset('/assets/images/data/banner-authentication.png') }}" alt="Espace étudiant" width="100%">
                    </figure>
                </div>
            </div>
            <div class="desc">
                <div class="container">
                    <h2 class="main-title">Espace Scolarité</h2>
                </div>
            </div>
        </div>
    </section><!-- /Big slider -->
    
    <!-- breadcrumb -->
    <nav aria-label="breadcrumb" class="breadcrumb-bloc container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="iconucm-home"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="" title="Espace scolarité">Espace scolarité</a></li>
            <li class="breadcrumb-item active" aria-current="page"><span>Frais de scolarité</span></li>
        </ol>
    </nav><!-- /breadcrumb -->

    <div class="main-contentPage spaceScolarity-container">
        <div class="container container_row">
            <!-- aside Left -->
            <aside class="asideLeft asideSticky">
                {{ include('frontend/scolarite/_menu.html.twig') }}
            </aside> <!-- /aside Left -->
               
            <!-- main Bloc -->
            <article class="mainBloc mainBloc-etudiants mainBloc-scolarity" id="mainBloc">
                <div class="title-group">
                    <p class="sup-title">Scolarité</p>
                    <h2 class="title-bloc">Frais de scolarité</h2>
                </div>
                <!-- content  -->
                <section class="content presenceEnseignant-content">
                    <!-- filter block -->
                    <div class="form-bloc filter-bloc">
                        <div class="groups-btn justify-content-start my-1">
                            <a href="{{ path('front_scolarite_frais_new') }}" class="btn btn-primary" id="btn-submit-edt-form">AJOUTER</a>
                           
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <form id="filter-form" autocomplete="off">
                                    <div class="form-group row">
                                        <label class="col-xl-3">Semestre :</label>
                                        <div class="form-field select-field col-xl-3">
                                            <select class="form-control" name="semestre" id="semestre">
                                                <option value="">--- Sélectionner ---</option>
                                                {% for sem in semestres %}
                                                    <option value="{{ sem.id }}" {% if s is defined and sem.id == s %}selected{% endif %}>{{ sem.libelle }} -- {{ sem.niveau.libelle }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <label class="col-xl-3">Mention :</label>
                                        <div class="form-field select-field col-xl-3">
                                            <select class="form-control" name="mention" id="mention">
                                                <option value="">--- Sélectionner ---</option>
                                                {% for men in mentions %}
                                                    <option value="{{ men.id }}" {% if m is defined and men.id == m %}selected{% endif %}>{{ men.nom }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <label class="col-xl-3">Niveau :</label>
                                        <div class="form-field select-field col-xl-3">
                                            <select class="form-control" name="niveau" id="niveau">
                                                <option value="">--- Sélectionner ---</option>
                                                {% for niv in niveaux %}
                                                    <option value="{{ niv.id }}" {% if n is defined and niv.id == n %}selected{% endif %}>{{ niv.libelle }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <label class="col-xl-3">Parcours :</label>
                                        <div class="form-field select-field col-xl-3">
                                            <select class="form-control" name="parcours" id="parcours">
                                                <option value="">--- Sélectionner ---</option>
                                                {% for parc in parcours %}
                                                    <option value="{{ parc.id }}" {% if p is defined and parc.id == p %}selected{% endif %}>{{ parc.nom }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xl-3">Calendrier :</label>
                                        <div class="form-field select-field col-xl-3">
                                            <select class="form-control" name="calendrier-paiement" id="calendrier_paiement">
                                                <option value="">--- Sélectionner ---</option>
                                                {% for cal in calPaiements %}
                                                    <option value="{{ cal.id }}" 
                                                        {% if  cal.id == c %}selected{% endif %}>{{ cal.libelle }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div> 


                                    <div class="form-group row mt-1">
                                        <label class="col-3">Rechercher :</label>
                                        <div class="form-field col-9">
                                            <input type="text" name="search" id="search" class="col-12">
                                        </div>
                                    </div> 


                                </form>
                            </div>
                        </div>
                    </div> <!-- /filter block -->

                    <ul class="nav nav-tabs" id="myTab">
                        <li class="nav-item">
                            <a href="{{ path('front_scolarite_frais_index', {st: constant('\\App\\Entity\\FraisScolarite::STATUS_CREATED')}) }}" class="nav-link 
                            {% if st == constant('\\App\\Entity\\FraisScolarite::STATUS_CREATED') %} active {% endif %} fw-bold text-dark" id="pending-tab" type="button">NON TRAITÉES
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('front_scolarite_frais_index', {st: constant('\\App\\Entity\\FraisScolarite::STATUS_SRS_VALIDATED')}) }}" class="nav-link {% if st == constant('\\App\\Entity\\FraisScolarite::STATUS_SRS_VALIDATED') %} active {% endif %} fw-bold text-dark" id="pending-tab" type="button">VALIDÉES
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('front_scolarite_frais_index', {st: constant('\\App\\Entity\\FraisScolarite::STATUS_SRS_REFUSED')}) }}" class="nav-link fw-bold {% if st == constant('\\App\\Entity\\FraisScolarite::STATUS_SRS_REFUSED') %} active {% endif %} text-dark" id="pending-tab" type="button">REFUSÉES
                            </a>
                        </li>
                    </ul>

                    <div class="table-responsive table-wrapper">
                        {% if list is defined and list | length > 0 %}
                        <form id="matiere-new" method="POST" class="page-form-edit-new form-validation" role="form" >
                            <table class="table table-bordered table-hover list-data">
                                <thead>
                                 <div>
                                        {% if st > 0 %} 
                                            {#<a href="{{ path('front_scolarite_frais_index') }}?e=1&c={{c}}&s={{s}}&m={{m}}&n={{n}}&p={{p}}&st={{st}}"
                                            " class="btn btn-primary" id="btn-submit-edt-form">EXPORTER</a>#}

                                            <a href="{{ path('front_scolarite_frais_index') }}?e=1&s={{s}}&m={{m}}&n={{n}}&p={{p}}&st={{st}}"
                                            " class="btn btn-primary" id="btn-submit-edt-form">EXPORTER</a>

                                        {% endif %}                                    
                                 </div></br>
                               
                                    <tr>
                                        <th class="action_col">Action</th>
                                        <th class="text-center">Mention</th>                                        
                                        <th class="text-center">Niveau</th>
                                        <th class="text-center">Parcours</th>
                                        <th class="text-center">Matricule</th>
                                        <th class="text-center">Nom</th>
                                        <th class="text-center">Prénom</th>
                                        <th class="text-center">remetant</th>
                                        <th class="text-center">Date de saisie</th>
                                        <th class="text-center">Date de versement</th>
                                        <th class="text-center">Référence</th>
                                        <th class="text-center">Mode de paiement</th>
                                        <th class="text-center">Tranche</th>
                                        <th class="text-center">Montant payé</th>
                                        <th class="text-center">Reste</th>
                                        <th class="action_col">Statut</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    {% set total = 0 %}
                                    {% set processedIds = [] %}
                                  
                                    {% for fraisScol in pagination %}
                                        {% if fraisScol.ecolageId not in processedIds %}
                                            {% set processedIds = processedIds|merge([fraisScol.ecolageId]) %}
                                        <tr class="middle-align">
                                         
                                            <td class="action_col w-5">
                                                <div class="wrap-btn">
                                                    <a href="{{ path('front_scolarite_frais_show', { id: fraisScol.ecolageId}) }}" class="btn btn-secondary" title="Modifier">
                                                        {% if fraisScol.status == constant('\\App\\Entity\\FraisScolarite::STATUS_SRS_VALIDATED') %}
                                                            <i class="far fa-edit"></i>
                                                        {% else %}
                                                            <i class="far fa-eye"></i>
                                                        {% endif %}
                                                    </a>
                                                </div>
                                            </td>
                                            <td class="text-center w-25">{{ fraisScol.mention }}</td>
                                            <td class="text-center w-25">{{ fraisScol.niveau }}</td>
                                            <td class="text-center w-25">{{ fraisScol.parcours }}</td>
                                            <td class="text-center w-25">{{ fraisScol.immatricule }}</td>
                                            <td class="text-left w-25">{{ fraisScol.last_name }}</td>
                                            <td class="text-center w-25">{{ fraisScol.first_name }}</td>
                                            <td class="text-center w-25">{{ fraisScol.remitter }}</td>
                                            <td class="text-center w-25">{{ fraisScol.date_saisie | date('d/m/Y H:i:s') }}</td>
                                            <td class="text-center w-25">{{ fraisScol.date_paiement | date('d/m/Y') }}</td>
                                            <td class="text-center w-25">{{ fraisScol.reference }}</td>
                                            <td class="text-center w-25">
                                                {% if fraisScol.mode_paiement == constant('\\App\\Entity\\FraisScolarite::MODE_PAIEMENT_VIREMENT') %}
                                                    <label>Virement</label>
                                                {% endif %}
                                                {% if fraisScol.mode_paiement == constant('\\App\\Entity\\FraisScolarite::MODE_PAIEMENT_AGENCE') %}
                                                    <label>Chèque</label>
                                                {% endif %}
                                                {% if fraisScol.mode_paiement == constant('\\App\\Entity\\FraisScolarite::MODE_PAIEMENT_CAISSE') %}
                                                    <label>Espèces</label>
                                                {% endif %}
                                            </td>     
                                            <td class="text-center w-25">{{ fraisScol.montant_tranche | number_format(2, '.', ' ') }}</td>
                                            <td class="text-center w-25">{{ fraisScol.montant | number_format(2, '.', ' ') }}</td>  
                                            <td class="text-center w-25">{{ fraisScol.reste | number_format(2, '.', ' ') }}</td>                                            
                                            <td class="action_col w-50">
                                                {% if fraisScol.status == constant('\\App\\Entity\\FraisScolarite::STATUS_CREATED') %}
                                                    <label>Valider</label>
                                                    <input type="checkbox" name="ecolage[]" value="{{ fraisScol.ecolageId }}">
                                                {% endif %}    
                                                {% if fraisScol.status == constant('\\App\\Entity\\FraisScolarite::STATUS_SRS_VALIDATED') %}
                                                    <label>Annuler</label>
                                                    <input type="checkbox" name="ecolage[]" value="{{ fraisScol.ecolageId }}">
                                                {% endif %}
                                                {% if fraisScol.status == constant('\\App\\Entity\\FraisScolarite::STATUS_SRS_REFUSED') %}
                                                    <label>Refusé</label>
                                                {% endif %}
                                                {% if fraisScol.status > constant('\\App\\Entity\\FraisScolarite::STATUS_SRS_VALIDATED') %}
                                                    <label>Validé</label>
                                                {% endif %}
                                            </td>
                                            
                                        </tr>
                                        {% set total = total + fraisScol.montant %}
                                    {% endif %}
                                    {% endfor %}
                                    <tr>
                                        <td colspan="10" align="center">Total</td>
                                        <td align="center">{{ total | number_format(2, '.', ' ') }}</td>
                                        <td align="center" colspan="4">
                                            {% if st != constant('\\App\\Entity\\FraisScolarite::STATUS_SRS_REFUSED') %}
                                                <label>Tout coché</label>
                                                <input type="checkbox" name="checkall" id="checkall">
                                                <button type="button" class="btn" id="submit_form" onclick="submitForm()">Executer</button>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    
                                </tbody>
                                
                            </table></br>

                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 d-flex justify-content-center align-items-center">
                                        <div class="text-center">
                                        <div class="pagination">
                                            {{ knp_pagination_render(pagination) }}
                                        </div> </br>
                                    </div>
                                </div>
                            </div>                            
                            
                        </form>
                        {% endif %}
                    </div>
                </section>
            </article> <!-- /main Bloc -->
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        function submitForm(){
            fraisScolIds = $('input[name="ecolage[]"]').map(
                function() {
                    if($(this).prop("checked"))
                        return $(this).val() ;
                }
            ).get();
            $.ajax({
                method: "POST",
                url: "{{ path('front_scolarite_frais_update') }}",
                data: {
                    ecolage : fraisScolIds
                }
            }).done(
                function(html){
                    window.location.href = "{{ path('front_scolarite_frais_index') }}";
                }
            );
        }
        
        $(document).ready(function () { 
            $('#checkall').click(function(){
                $( "input:checkbox" ).prop('checked', this.checked);
            });
            let m = $('#mention :selected').val();
            let n = $('#niveau :selected').val();
            let p = $('#parcours :selected').val();
            let s = $('#semestre :selected').val();
            let c = $('#calendrier_paiement :selected').val();
            $('#calendrier_paiement').on('change', function () {
                window.location.href = "{{ path('front_scolarite_frais_index') }}" + "?c=" + $(this).val() + "&m=" + m + "&n=" + n + "&s=" + s +"&p=" + p + "&st={{ st }}";
            })
            $('#semestre').on('change', function () {
                window.location.href = "{{ path('front_scolarite_frais_index') }}" + "?s=" + $(this).val() + "&m=" + m + "&n=" + n + "&c=" + c +"&p=" + p + "&st={{ st }}";
            })
            $('#mention').on('change', function () {
                window.location.href = "{{ path('front_scolarite_frais_index') }}" + "?m=" + $(this).val() + "&s=" + s + "&n=" + n + "&c=" + c +"&p=" + p + "&st={{ st }}";
            })
            $('#niveau').on('change', function () {
                window.location.href = "{{ path('front_scolarite_frais_index') }}" + "?c=" + c + "&s=" + s + "&m=" + m + "&n=" + $(this).val() + "&p=" + p + "&st={{ st }}";
            });
            $('#parcours').on('change', function () {
                window.location.href = "{{ path('front_scolarite_frais_index') }}" + "?c=" + c + "&s=" + s + "&m=" + m + "&n=" + n + "&p=" + $(this).val() + "&st={{ st }}";
            });

            $('#submit_form').bind('click', function(){
                                    
            });


            $('#search').bind('keyup', function(){
                $.ajax({
                    method: "POST",
                    url: "{{ path('front_scolarite_frais_search') }}",
                    data: {
                        q : $(this).val()
                    }
                }).done(
                    function(html){
                        $('#myTab').hide();
                        $('.table-wrapper').html(html);
                    }
                ); 
            });
        });
        
    </script>
{% endblock %}

