{% extends layout_frontend %}
{% block title %}Identification étudiant{% endblock %}
{% block content %}
<div class="main-container">
    <!-- hidden Title H1 -->
    <h1 class="hide">Calendrier Universitaire</h1>

    <!-- big slider banner espace etudiant -->
    <section class="banner banner-espaceEtudiant">
        <div class="banner-container">
            <figure class="bigImg">
                <img src="{{ asset('/assets/images/data/banner-authentication.png') }}" alt="Espace étudiant">
            </figure>
            <div class="desc">
                <div class="container">
                    <h2 class="main-title">Espace étudiant</h2>
                </div>
            </div>
        </div>
    </section><!-- /Big slider -->

    <!-- breadcrumb -->
    <nav aria-label="breadcrumb" class="breadcrumb-bloc container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="iconucm-home"></i></a></li>
            <li class="breadcrumb-item"><a href="/" title="Espace étudiant">Espace étudiant</a></li>
            <li class="breadcrumb-item active" aria-current="page"><span>Calendrier Universitaire</span></li>
        </ol>
    </nav><!-- /breadcrumb -->

    <div class="main-contentPage spaceStudent-container">
        <div class="container container_row">
            <!-- aside Left -->
            <aside class="asideLeft asideSticky">
                {{ include('frontend/etudiant/_menu.html.twig') }}
            </aside>
            <!-- /aside Left -->

            <!-- main Bloc -->
            <article class="mainBloc mainBloc-etudiants" id="mainBloc">
                <div class="title-group">
                    <p class="sup-title">Espace étudiant</p>
                    <h2 class="title-bloc">Calendrier Universitaire</h2>
                </div>

                <section class="universityCalendar-content content">
                    <div class="card">
                        <div class="card-body text-dark">
                            <h3 class="card-title">{{ calendrierUniv.libelle }}</h3>
                            <p class="card-text">{{ calendrierUniv.description }}</p>
                        </div>
                        <div class="card-footer text-right">
                            <a href="{{ path('front_calendrier_universitaire') }}" class="btn btn-primary">Retour</a>
                        </div>
                    </div>
                </section>
            </article> <!-- /main Bloc -->
        </div>
    </div>
</div>
{% endblock %}