{% extends layout_teacher %}
{% block title %}Espace assistant{% endblock %}
{% block content %}
<div class="main-container">
    <!-- hidden Title H1 -->
    <h1 class="hide">Espace scolarité</h1>

    <!-- big slider banner espace scolarite -->
    <section class="banner banner-espaceEtudiant banner-espaceAssistant">
        <div class="banner-container">
            <div class="container">
                <div class="row">
                    <figure class="col-12 bigImg-back">
                        <img src="{{ asset('/assets/images/data/banner-authentication.png') }}" alt="Espace étudiant" width="100%">
                    </figure>
                </div>
            </div>
            <div class="desc">
                <div class="container">
                    <h2 class="main-title">Espace scolarité</h2>
                </div>
            </div>
        </div>
    </section> <!-- /Big slider -->

    <!-- breadcrumb -->
    <nav aria-label="breadcrumb" class="breadcrumb-bloc container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="iconucm-home"></i></a></li>
            <li class="breadcrumb-item"><a href="/" title="Assistant">Espace scolarité</a></li>
            <li class="breadcrumb-item active" aria-current="page"><span>Scolarité</span></li>
        </ol>
    </nav><!-- /breadcrumb -->

    <!-- big slider banner home -->
    <div class="main-contentPage spaceScolarity-container">
        <div class="container container_row">
            <!-- aside Left -->
            <aside class="asideLeft asideSticky">
                {{ include('frontend/scolarite/_menu.html.twig') }}
            </aside><!-- /aside Left -->

            <!-- main Bloc -->
            <article class="mainBloc mainBloc-etudiants mainBloc-scolarity" id="mainBloc">
                <section class="content richText">
                    <div class="title-group">
                        <p class="sup-title">Scolarité</p>
                        <h2 class="title-bloc">Liste des étudiants</h2>
                    </div>
                        <!-- content -->

                    <!-- filter block -->
                    <div class="form-bloc filter-bloc">
                        <div class="card">
                            <div class="card-body">
                                <form id="filter-form" autocomplete="off">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-xl-3">Année universitaire :</label>
                                                <div class="form-field select-field col-xl-9">
                                                    <select name="annee_universitaire" class="form-control" id="anneeUniv">
                                                        <option value="">--- Sélectionner --- {{a}}</option>
                                                        {% for item in anneeUniversitaires %}
                                                            <option value="{{ item.id }}" {% if item.id == a %}selected{% endif %}>{{ item.annee }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-xl-3">Mentions :</label>
                                                <div class="form-field select-field col-xl-9">
                                                    <select name="mention" class="form-control" id="mention">
                                                        <option value="">--- Sélectionner ---</option>
                                                        {% for item in mentions %}
                                                            <option value="{{ item.id }}" {% if item.id == m %} selected {% endif %}>{{ item.nom }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-xl-3">Niveau :</label>
                                                <div class="form-field select-field  col-xl-9">
                                                    <select name="niveau" class="form-control" id="niveau">
                                                        <option value="">--- Sélectionner ---</option>
                                                        {% for item in niveaux %}
                                                            <option value="{{ item.id }}" {% if item.id == n %} selected {% endif %}>{{ item.libelle }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-xl-3">Parcours :</label>
                                                <div class="form-field select-field  col-xl-9">
                                                    <select name="parcours" class="form-control" id="parcours">
                                                        <option value="">--- Sélectionner ---</option>
                                                        {% for item in parcours %}
                                                            <option value="{{ item.id }}" {% if item.id == p %} selected {% endif %}>{{ item.nom }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> <!-- /filter block -->
                    
                    {% if etudiants is defined and etudiants | length > 0 %}
                    <div class="table-responsive table-wrapper datatable-container">
                        <table class="table table-bordered table-hover table-md list-data">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th class="action_col w-7">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for etudiant in etudiants %}
                                    <tr class="middle-align">
                                        <td>{{ etudiant.first_name }}</td>
                                        <td>{{ etudiant.last_name }}</td>

                                        <td class="action_col w-5">
                                            <div class="wrap-btn">
                                                <a href="{{ path('front_scolarite_etudiant_releve', { id: etudiant.id}) }}" class="btn btn-secondary" title="Modifier">
                                                    <i class="far fa-edit"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>    
                    {% endif %}
                </section>
            </article> <!-- /main Bloc -->
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        (function ($) {
            $(document).ready(function () {
                $('#anneeUniv').on('change', function(){
                    window.location.href = "{{ path('front_scolarite_etudiant_list') }}" + "?a=" + $(this).val() + "&m=" + $("#mention").val();
                });
                $('#mention').on('change', function(){
                    window.location.href = "{{ path('front_scolarite_etudiant_list') }}" + "?a=" + $("#anneeUniv").val() + "&m=" + $(this).val();
                });
                $('#niveau').on('change', function(){
                    window.location.href = "{{ path('front_scolarite_etudiant_list') }}" + "?a=" + $("#anneeUniv").val()  + "&m=" + $("#mention").val() + "&n=" + $(this).val();
                });
                $('#parcours').on('change', function(){
                    window.location.href = "{{ path('front_scolarite_etudiant_list') }}" + "?a=" + $("#anneeUniv").val()  + "&m=" + $("#mention").val() + "&n=" + $("#niveau").val() + "&p=" + $(this).val();
                })
            });
        })(jQuery);
    </script>
{% endblock %}