{% extends layout_frontend %}
{% block title %}Résultat concours{% endblock %}
{% block content %}
<div class="main-container">
    <!-- hidden Title H1 -->
    <h1 class="hide">Concours notes</h1>

    <!-- big slider banner espace chef de mention -->
    <section class="banner banner-espaceEtudiant banner-espaceAssistant">
        <div class="banner-container">
            <figure class="bigImg">
                <img src="{{ asset('/assets/images/data/banner-authentication.png') }}" alt="Espace étudiant">
            </figure>
            <div class="desc">
                <div class="container">
                    <h2 class="main-title">Espace Doyen</h2>
                </div>
            </div>
        </div>
    </section><!-- /Big slider -->

    <!-- breadcrumb -->
    <nav aria-label="breadcrumb" class="breadcrumb-bloc container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="iconucm-home"></i></a></li>
            <li class="breadcrumb-item"><a href="/" title="Chef de mention">Espace Doyen</a></li>
            <li class="breadcrumb-item active" aria-current="page"><span>Résultat concours</span></li>
        </ol>
    </nav><!-- /breadcrumb -->

    <div class="main-contentPage spaceAssistant-container">
        <div class="container container_row">
            <!-- aside Left -->
            <aside class="asideLeft asideSticky">
                {{ include('frontend/chef-mention/_menu.html.twig') }}
            </aside> <!-- /aside Left -->
               
            <!-- main Bloc -->
            <article class="mainBloc mainBloc-etudiants mainBloc-assistant" id="mainBloc">
                <div class="title-group">
                    <p class="sup-title">Doyen</p>
                    <h2 class="title-bloc">Résultat concours</h2>
                </div>
                <!-- content  -->
                <section class="content presenceEnseignant-content richText">
                    <!-- filter block -->
                    <div class="form-bloc filter-bloc">
                        <div class="card">
                            <div class="card-body">
                                <form id="filter-form" autocomplete="off">
                                    <div class="form-group row">
                                        <label class="col-xl-1">Mention :</label>
                                        <div class="form-field select-field col-xl-3">
                                            <select class="form-control" name="mention" id="mention">
                                                <option value="">--- Sélectionner ---</option>
                                                {% for mention in mentions %}
                                                    <option value="{{ mention.id }}" {% if m is defined and mention.id == m %}selected{% endif %}>{{ mention.nom }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <label class="col-xl-1">Parcours :</label>
                                        <div class="form-field select-field col-xl-3">
                                            <select class="form-control" name="parcours" id="parcours">
                                                <option value="">--- Sélectionner ---</option>
                                                {% for parc in parcours %}
                                                    <option value="{{ parc.id }}" {% if p is defined and parc.id == p %}selected{% endif %}>{{ parc.nom }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <label class="col-xl-1">Concours :</label>
                                        <div class="form-field select-field col-xl-3">
                                            <select class="form-control" name="concours" id="concours">
                                                <option value="">--- Sélectionner ---</option>
                                                {% for conc in concours %}
                                                    <option value="{{ conc.id }}" {% if c is defined and conc.id == c %}selected{% endif %}>{{ conc.libelle }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> <!-- /filter block -->


                    <div class="table-responsive table-wrapper">
                         
                        {% if resultats | length > 0 %}

                   
                            <table class="table table-bordered table-hover list-data">
                                <thead>
                                    <tr>
                                        <th class="text-center">Matricule</th>
                                        <th class="text-center">Nom</th>
                                        <th class="text-center">Prénom</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                {% for item in resultats %}
                                    <tr class="middle-align">
                                        <td class="w-15">{{ item.immatricule }}</td>
                                        <td class="w-15">{{ item.first_name }}</td>
                                        <td class="w-15">{{ item.last_name }}</td>
                                        <td class="action_col w-15">
                                            <div class="wrap-btn">
                                                <a class="btn" href="{{ path(concoursCandidatNotesPath, { 'id': item.concours_candidature_id }) }}?c={{ c }}&p={{ p }}&m={{ m }}">
                                                    <i class="fa fa-eye">voir</i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {#% if selectedConcours and selectedConcours.resultStatut >= constant('App\\Entity\\Concours::STATUS_VALIDATED_CM') %#}
                                <form id="validate_concours_result_form" method="post" enctype="multipart/form-data" role="form"
                                action="{{ path(validateResultConcoursPath, {id: selectedConcours.id}) }}">
                                    <input type="hidden" id="c" name="c" value="{{ c }}" />
                                    <input type="hidden" id="p" name="p" value="{{ p }}" />
                                </form>
                            {#% endif %#}
                      {% endif %}
                    </div>
                </section>
            </article> <!-- /main Bloc -->
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        ( function( $ ) {
            $(document).ready(function () { 
                _parcoursId = $('#parcours').val();
                _mentionId  = $('#mention').val();
                _concoursId = $('#concours').val();

                $('#concours').bind('change', function(){
                    location.href = '{{ path(resultConcoursPath)}}' + "?c=" + $(this).val() + "&p=" + _parcoursId + "&m=" + _mentionId;
                });
                $('#mention').bind('change', function(){
                    location.href = '{{ path(resultConcoursPath)}}' + "?m=" + $(this).val() + "&p=" + _parcoursId + "&c=" + _concoursId;
                });
                $('#parcours').bind('change', function(){
                    location.href = '{{ path(resultConcoursPath)}}' + "?c=" + _concoursId + "&p=" + $(this).val() + "&m=" + _mentionId;
                });
            });
        } )( jQuery );
        function submit_form() {
            $('#validate_concours_result_form').submit();
        }
    </script>
{% endblock %}

