<style>
    .form-group legend {
        font-size: 14px;
        font-weight: bold;
    }
</style>

{% set action = path('admin_type_prestation_new') %}
{% if typePrestation.id %}
    {% set action = path('admin_type_prestation_edit', { id: typePrestation.id }) %}
{% endif %}
<section class="content">
    <form id="niveau-new" method="POST" class="page-form-edit-new form-validation" enctype="multipart/form-data" role="form" action="{{action}}">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-bd">
                    <div class="panel-heading">
                        <div class="panel-title">
                        {% if typePrestation.id %}
                            <h4>Modification</h4>
                        {% else %}
                            <h4>Ajout</h4>
                        {% endif %}
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            {{ form_errors(form) }}
                            {{ form_row(form._token) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.designation, 'Designation *') }}
                            {{ form_widget(form.designation, {'attr':{'required':'required'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.type, 'Type') }}
                            {{ form_widget(form.type) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.taux, 'Taux') }}
                            {{ form_widget(form.taux) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.unite, 'Unité') }}
                            {{ form_widget(form.unite) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.code, 'Code') }}
                            {{ form_widget(form.code) }}
                        </div>
                        <div class="form-group">
                            <label for="type_prestation_taux">Mention</label>
                            <div class="form-field select-field">
                                <select class="js-example-basic-multiple" id="type_prestation_mentions" name="type_prestation_mentions[]" required="required" class="form-control" multiple="multiple" style="min-height: 100px;width: 100%">
                                    {% for item in mentions %}
                                        <option value="{{ item.id }}" 
                                            {% if tSelectedMentions is defined and item.id in tSelectedMentions %}
                                                selected="selected"
                                            {% endif %}
                                        >{{ item.nom }} </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-bd">
                    <div class="panel-body">
                        {% if typePrestation.id %}
                            <button type="submit" class="btn btn-primary" id="btn-submit-product-form">Modifier</button>
                        {% else %}
                            <button type="submit" class="btn btn-primary" id="btn-submit-product-form">Enregistrer</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </form>
</form>