{% extends layout_frontend %}
{% block title %}Ecolage étudiant{% endblock %}
{% block content %}
<div class="main-container">
    <!-- hidden Title H1 -->
    <h1 class="hide">Frais de scolarité</h1>

    <!-- big slider banner espace etudiant -->
    <section class="banner banner-espaceEtudiant">
        <div class="banner-container">
            <div class="container">
                <div class="row">
                    <figure class="col-12 bigImg-back">
                        <img src="{{ asset('/assets/images/data/banner-authentication.png') }}" alt="Espace étudiant" width="100%">
                    </figure>
                </div>
            </div>
            <div class="desc">
                <div class="container">
                    <h2 class="main-title">Espace étudiant</h2>
                </div>
            </div>
        </div>
    </section> <!-- /Big slider --> 

    <!-- breadcrumb -->
    <nav aria-label="breadcrumb" class="breadcrumb-bloc container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="iconucm-home"></i></a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="{{ path('front_student_emploi_du_temps') }}" title="Formation">Espace étudiant</a></li>
            <li class="breadcrumb-item active" aria-current="page"><span>Frais de scolarité</span></li>
        </ol>
    </nav><!-- /breadcrumb -->

    <div class="main-contentPage spaceStudent-container">
        <div class="container container_row">
           <!-- aside Left -->
            <aside class="asideLeft asideSticky">
                {{ include('frontend/etudiant/_menu.html.twig') }}
            </aside>
            <!-- /aside Left -->

            <!-- main Bloc -->
            <article class="mainBloc mainBloc-etudiants" id="mainBloc">
                <!-- content emploi du temps -->
                <section class="emploiTemps-content">
                    <div class="form-bloc form-inline">
                        <div class="card">
                            <div class="card-body">
                                {{ include('frontend/etudiant/frais-scolarite/_form.html.twig') }}
                            </div>
                        </div>
                    </div>
                </section>
            </article> <!-- /main Bloc -->
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        (function ($) {
            $(document).ready(function () { 
            });
        } )( jQuery );
        
    </script>
{% endblock %}