{% extends layout_frontend %}
{% block title %}Préstations{% endblock %}
{% block content %}
<div class="main-container">
    <!-- hidden Title H1 -->
    <h1 class="hide">Préstations</h1>

    <!-- big slider banner espace assistant -->
    <section class="banner banner-espaceEtudiant banner-espaceAssistant">
        <div class="banner-container">
            <div class="container">
                <div class="row">
                    <figure class="col-12 bigImg-back">
                        <img src="{{ asset('/assets/images/data/banner-authentication.png') }}" alt="Espace étudiant" width="100%">
                    </figure>
                </div>
            </div>
            <div class="desc">
                <div class="container">
                    <h2 class="main-title">Espace assistant</h2>
                </div>
            </div>
        </div>
    </section><!-- /Big slider -->

    <!-- breadcrumb -->
    <nav aria-label="breadcrumb" class="breadcrumb-bloc container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="iconucm-home"></i></a></li>
            <li class="breadcrumb-item"><a href="/" title="Assistant">Espace assistant</a></li>
            <li class="breadcrumb-item active" aria-current="page"><span>Préstations</span></li>
        </ol>
    </nav><!-- /breadcrumb -->

    <div class="main-contentPage spaceAssistant-container">
        <div class="container container_row">
            <!-- aside Left -->
            <aside class="asideLeft asideSticky">
                {{ include('frontend/assistant/_menu.html.twig') }}
            </aside> <!-- /aside Left -->
               
            <!-- main Bloc -->
            <article class="mainBloc mainBloc-etudiants mainBloc-assistant" id="mainBloc">
                <div class="title-group">
                    <p class="sup-title">Assistant</p>
                    <h2 class="title-bloc">Préstations</h2>
                </div>
                <!-- content  -->
                <section class="content presenceEnseignant-content">
                    <div class="form-bloc form-inline">
                        <div class="card">
                            <div class="card-body">
                                {{ include('frontend/assistant/prestation/_form.html.twig') }}
                            </div>
                        </div>
                    </div>
                </section>
            </article> <!-- /main Bloc -->
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/jquery.mask.min.js') }}"></script>
    <script>
        ( function( $ ) {       
            $(document).ready(function () {
                $('.js-example-basic-multiple').select2();
            });
        } )( jQuery );
    </script>
{% endblock %}

