<div class="col-md-6">
    <div class="form-group row">
        <div class="col-xl-3">
            {{ form_label(form.firstName, 'Nom * :') }}
        </div>
        <div class="col-xl-9">
            {{ form_widget(form.firstName) }}
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="form-group row">
        <div class="col-xl-3">
            {{ form_label(form.lastName, 'Prénom * :') }}
        </div>
        <div class="col-xl-9">
            {{ form_widget(form.lastName) }}
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="form-group row">
        <div class="col-xl-3">
            {{ form_label(form.email, 'Email * :') }}
        </div>
        <div class="col-xl-9">
            {{ form_widget(form.email) }}
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="form-group row">
        <div class="col-xl-3">
            {{ form_label(form.address, 'Adresse * :') }}
        </div>
        <div class="col-xl-9">
            {{ form_widget(form.address) }}
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="form-group row">
        <div class="col-xl-3">
            {{ form_label(form.phone, 'Téléphone * :') }}
        </div>
        <div class="col-xl-9">
            {{ form_widget(form.phone) }}
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="form-group row">
        <div class="col-xl-3">
            {{ form_label(form.civility, 'Actions :') }}
        </div>
        <div class="col-xl-9">
            {{ form_widget(form.civility) }}
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="form-group row">
        <div class="col-xl-3">
            {{ form_label(form.pathCv, 'CV :') }}
        </div>
        <div class="col-xl-9">
            {{ form_widget(form.pathCv) }}
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="form-group row">
        <div class="col-xl-3">
            {{ form_label(form.pathDiploma, 'Diplôme :') }}
        </div>
        <div class="col-xl-9">
            {{ form_widget(form.pathDiploma) }}
        </div>
    </div>
</div>