{% extends layout_teacher %}
{% block title %}Espace assistant{% endblock %}
{% block content %}
<div class="main-container">
    <!-- hidden Title H1 -->

    <h1 class="hide">Ajout enseignant</h1>

    <!-- big slider banner espace assistant -->
    <section class="banner banner-espaceEtudiant banner-espaceAssistant">
        <div class="banner-container">
            <div class="container">
                <div class="row">
                    <figure class="col-12 bigImg-back">
                        <img src="{{ asset('/assets/images/data/banner-authentication.png') }}" alt="Espace étudiant" width="100%">
                    </figure>
                </div>
            </div>    
            <div class="desc">
                <div class="container">
                    <h2 class="main-title">Espace assistant</h2>
                </div>
            </div>
        </div>
    </section> <!-- /Big slider -->

    <!-- breadcrumb -->
    <nav aria-label="breadcrumb" class="breadcrumb-bloc container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="iconucm-home"></i></a></li>
            <li class="breadcrumb-item"><a href="/" title="Enseignant">Espace assistant</a></li>
            <li class="breadcrumb-item active" aria-current="page"><span>Ajout enseignant</span></li>
        </ol>
    </nav><!-- /breadcrumb -->

    <div class="main-contentPage spaceAssistant-container">
        <div class="container container_row">
            <!-- aside Left -->
            <aside class="asideLeft asideSticky">
                {{ include('frontend/assistant/_menu.html.twig') }}
            </aside> <!-- /aside Left -->

            <!-- main Bloc -->
            <article class="mainBloc mainBloc-etudiants mainBloc-assistant" id="mainBloc">
                <!-- content ajout assistant -->
                <section class="content assistant_content">
                    <div class="title-group">
                        <p class="sup-title">Assistant</p>
                        <h2 class="title-bloc">Ajout enseignant</h2>
                    </div>

                    <div class="form-bloc">
                        <div class="card">
                            <div class="card-body">
                                <form id="matiere-new" method="POST" class="page-form-edit-new form-validation" enctype="multipart/form-data" role="form" >
                                    <div class="row">
                                        <div class="col-md-2" style="width:13%;">
                                            <div class="form-group row">
                                                <label for="enseignant_email"">Base enseignant :</label>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="form-group row">
                                                {% if(enseignants | length > 0) %}                                                
                                                    <select name="selected_enseignant" id="selected_enseignant" class="form-control">
                                                        <option value=""></option>
                                                        {% for ens in enseignants %}
                                                        <option value="{{ ens.id }}">{{ ens.lastName }} {{ ens.firstName }}</option>
                                                        {% endfor %}
                                                    </select>                                                    
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div id="enseignant_infos" class="row">
                                            {% if is_granted(["ROLE_CHEFMENTION", "ROLE_DOYEN", "ROLE_RECTEUR", "ROLE_SG"]) %}
                                                <div class="col-md-2" style="width:13%;">
                                                    <div class="form-group row">
                                                        {{ form_label(form.immatricule, 'Matricule :') }}
                                                    </div>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="form-group row">
                                                        {{ form_widget(form.immatricule) }}
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row autocomplete">
                                                        <div class="col-xl-3">
                                                            {{ form_label(form.lastName, 'Nom * :') }}
                                                        </div>
                                                        <div class="col-xl-9">
                                                            <input type="text" id="enseignant_lastName" name="enseignant[lastName]" required="required" maxlength="255" class="form-control basicAutoComplete" autocomplete="off">
                                                            {#{ form_widget(form.lastName) }#}

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <div class="col-xl-3">
                                                            {{ form_label(form.firstName, 'Prenom * :') }}
                                                        </div>
                                                        <div class="col-xl-9">
                                                            {{ form_widget(form.firstName) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <div class="col-xl-3">
                                                            {{ form_label(form.email, 'Email * :') }}
                                                        </div>
                                                        <div class="col-xl-9">
                                                            {{ form_widget(form.email) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <div class="col-xl-3">
                                                            {{ form_label(form.address, 'Adresse * :') }}
                                                        </div>
                                                        <div class="col-xl-9">
                                                            {{ form_widget(form.address) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <div class="col-xl-3">
                                                            {{ form_label(form.phone, 'Téléphone * :') }}
                                                        </div>
                                                        <div class="col-xl-9">
                                                            {{ form_widget(form.phone) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <div class="col-xl-3">
                                                            {{ form_label(form.civility, 'Civilité :') }}
                                                        </div>
                                                        <div class="col-xl-9">
                                                            {{ form_widget(form.civility) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <div class="col-md-1" style="width:12.5%;">
                                                            {{ form_label(form.bank_name, 'Banque :') }}
                                                        </div>
                                                        <div class="col-md-11" style="width:87.5%;">
                                                            {{ form_widget(form.bank_name) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <div class="col-md-1" style="width:12.5%;">
                                                            {{ form_label(form.bank_num, 'RIB :') }}
                                                        </div>
                                                        <div class="col-md-11" style="width:87.5%;">
                                                            {{ form_widget(form.bank_num) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <div class="col-md-1" style="width:12.5%;">
                                                            {{ form_label(form.tiers_count, 'Compte tiers :') }}
                                                        </div>
                                                        <div class="col-md-11" style="width:87.5%;">
                                                            {{ form_widget(form.tiers_count) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <div class="col-xl-3">
                                                            {{ form_label(form.pathCv, 'CV :') }}
                                                        </div>
                                                        <div class="col-xl-9">
                                                            {{ form_widget(form.pathCv) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <div class="col-xl-3">
                                                            {{ form_label(form.pathDiploma, 'Diplôme :') }}
                                                        </div>
                                                        <div class="col-xl-9">
                                                            {{ form_widget(form.pathDiploma) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group mb-0">
                                                <label for="enseignant_email">Niveaux *:</label>
                                                {% if(niveaux | length > 0) %}
                                                <div class="form-field select-field">
                                                    <select name="niveau[]" required="required" class="form-control" multiple="multiple" style="min-height: 100px">
                                                        {% for niveau in niveaux %}
                                                        <option value="{{ niveau.id }}">{{ niveau.libelle }} </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-12">
                                            {{ form_errors(form) }}
                                            {{ form_row(form._token) }}
                                        </div>
                                    </div>
                                    <div class="groups-btn justify-content-end mt-0">
                                        <a href="/assistant" style="margin-right:10px;"><button type="button" class="btn btn-secondary" id="btn-cancel">Annuler</button></a>
                                        <button type="submit" class="btn btn-primary" id="btn-submit-product-form">Valider</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </article> <!-- /main Bloc -->
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        function loadEnseignantInfo(_ensId) {
            $.ajax({
                method: "GET",
                url: "/assistant/enseignant/" + _ensId + "/infos",
                data: {
                    enseignantId    : _ensId
                }
            }).done(
                function(html){
                    $('#enseignant_infos').html(html);
                    autoCompleteNameField();
                }
            )
        }
        function autoCompleteNameField() {
            $('.basicAutoComplete').autoComplete({
                // resolverSettings: {
                //     url: "{{ path('front_assistant_ens_autocomplete') }}"
                // },
                resolver: 'custom',
                formatResult: function (item) {
                    return {
                        value: item.id,
                        text: item.last_name + " " + item.first_name,
                    };
                },
                preventEnter: false,
                events: {
                    search: function (qry, callback) {
                        // let's do a custom ajax call
                        $.ajax(
                            "{{ path('front_assistant_ens_autocomplete') }}",
                            {
                                data: { 'qry': qry}
                            }
                        ).done(function (res) {
                            callback(res);
                            //$('.basicAutoComplete').next('.dropdown-menu').addClass('show px-2');
                            //$('.basicAutoComplete').next('.dropdown-menu').find('li a').addClass('text-dark');
                            $('.basicAutoComplete').on('autocomplete.select', function (e, i) {
                                loadEnseignantInfo(i.id);
                                //$('.basicAutoComplete').next('.dropdown-menu').removeClass('show');
                            });
                        });
                    }
                }
            });
        }
        function hello(){
            alert('hello');
        }
        (function ($) {
            $(document).ready(function () {                
                autoCompleteNameField();
                $('#selected_enseignant').bind('change', 
                    function(){
                        loadEnseignantInfo($(this).val());
                    }
                );
            });
        })(jQuery);
    </script>
{% endblock %}