{% extends layout_frontend %}
{% block title %}Surveillance{% endblock %}
{% block content %}
<div class="main-container">
    <!-- hidden Title H1 -->
    <h1 class="hide">Surveillance</h1>

    <!-- big slider banner espace assistant -->
    <section class="banner banner-espaceEtudiant banner-espaceAssistant">
        <div class="banner-container">
            <div class="container">
                <div class="row">
                    <figure class="col-12 bigImg-back">
                        <img src="{{ asset('/assets/images/data/banner-authentication.png') }}" alt="Espace étudiant" width="100%">
                    </figure>
                </div>
            </div>
            <div class="desc">
                <div class="container">
                    <h2 class="main-title">{{ workspaceTitle }}</h2>
                </div>
            </div>
        </div>
    </section><!-- /Big slider -->

    <!-- breadcrumb -->
    <nav aria-label="breadcrumb" class="breadcrumb-bloc container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="iconucm-home"></i></a></li>
            <li class="breadcrumb-item"><a href="/" title="Assistant">Espace {{ workspaceTitle }}</a></li>
            <li class="breadcrumb-item active" aria-current="page"><span>Surveillance</span></li>
        </ol>
    </nav><!-- /breadcrumb -->

    <div class="main-contentPage spaceAssistant-container">
        <div class="container container_row">
            <!-- aside Left -->
            <aside class="asideLeft asideSticky">
                {{ include('frontend/chef-mention/_menu.html.twig') }}
            </aside> <!-- /aside Left -->
               
            <!-- main Bloc -->
            <article class="mainBloc mainBloc-etudiants mainBloc-assistant" id="mainBloc">
                <div class="title-group">
                    <p class="sup-title">{{ workspaceTitle }}</p>
                    <h2 class="title-bloc">Surveillance</h2>
                </div>
                <div class="row">
                    <p>{{ surveillant.firstName }} {{ surveillant.lastName }}</p>
                    <p>{% if calPaiment is defined %}{{ calPaiement.libelle }}{% endif %}</p>
                </div>
                <!-- content  -->
                <section class="content presenceEnseignant-content richText">
                    <div class="table-responsive table-wrapper">
                        {% if list is defined and list | length > 0 %}
                            <table class="table table-bordered table-hover list-data">
                                <thead>
                                    <tr>
                                        <th class="text-center">Cours</th>
                                        <th class="text-center">Date</th>
                                        <th class="text-center">Heure</th>
                                        <th class="text-center">Tronc commun</th>
                                        <th class="text-center">Heures effectuées</th>
                                        <th class="text-center">Montant</th>
                                        <th class="text-center">Impot</th>
                                        <th class="text-center">NET</th>
                                        <th class="text-center">Etat</th>
                                        <th class="text-center">Statut</th>
                                        <th class="action_col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% set totalHT = 0 %}
                                    {% set totalImpot = 0 %}
                                    {% set totalNET = 0 %}
                                    {% for surveillant in list %}
                                        {% set presence = surveillant %}
                                        {% set montant = surveillant.heure * gv_taux_surveillant %}
                                        {% set montantImpot = montant * gv_impot %}
                                        {% set montantHT = montant + montantImpot %}
                                        <tr class="middle-align">
                                            <td class="text-center w-15">
                                                {{ surveillant.mCode }} - {{ surveillant.matiere }}<br>
                                                {{ surveillant.classList | raw }}
                                            </td>
                                            <td class="text-center w-5">{{ surveillant.date_schedule | date('d/m/Y') }}</td>
                                            <td class="text-center w-15">{{ surveillant.start_time | date('H:i') }} - {{ surveillant.end_time | date('H:i') }}</td>
                                            <td class="text-center w-5">{{ surveillant.troncCommun }}</td>
                                            <td class="text-center w-5">{{ surveillant.heure }}</td>
                                            <td class="text-center w-5">{{ montant * (1 + gv_impot) }}</td>
                                            <td class="text-center w-5">{{ montantImpot }}</td>
                                            <td class="text-center w-5">{{ montant }}</td>
                                            {{ include('frontend/chef-mention/vacation/_statut_partial.html.twig') }}
                                            
                                            <td class="action_col w-10">
                                                {% if surveillant.statut == profilListStatut %}
                                                    <label>Valider</label>
                                                    <input type="checkbox" name="surveillance[]" value="{{ surveillant.clxId }}">
                                                {% else %}
                                                    {% if surveillant.statut == profilNextStatut %}
                                                        <label>Annuler</label>
                                                        <input type="checkbox" name="surveillance[]" value="{{ surveillant.clxId }}">
                                                    {% endif %}
                                                {% endif %}
                                            </td>

                                        </tr>
                                        {% set totalHT = totalHT + montantHT %}
                                        {% set totalImpot = totalImpot + montantImpot %}
                                        {% set totalNET = totalNET + montant %}
                                    {% endfor %}
                                    <tr>
                                        <td colspan="5" align="center">Total</td>
                                        <td align="center">{{ totalHT }}</td>
                                        <td>{{ totalImpot }}</td>
                                        <td>{{ totalNET }}</td>
                                        <td align="center" colspan="4">
                                            <label>Tout coché</label>
                                            <input type="checkbox" name="checkall" id="checkall">
                                            <button type="button" class="btn" id="submit_form">Executer</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        {% endif %}
                    </div>

                    <div class="groups-btn justify-content-end mt-2">
                        <a href="{{ path(surveyIndexPath) }}?c={{ c }}&m={{ m }}" class="btn btn-primary">RETOUR</a>
                    </div>
                 
                </section>
            </article> <!-- /main Bloc -->
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        ( function( $ ) {
            $(document).ready(function () { 
                $('#checkall').click(function(){
                    $( "input:checkbox" ).prop('checked', this.checked);
                });
                $('#submit_form').bind('click', function(){
                    calExamenIds = $('input[name="surveillance[]"]').map(
                            function() {
                                if($(this).prop("checked"))
                                    return $(this).val() ;
                            }
                        ).get();
                    $.ajax({
                        method: "POST",
                        url: "{{ path(syrveyValidatePath) }}",
                        data: {
                            surveillant : calExamenIds
                        }
                    }).done(
                        function(html){
                            window.location.href = "{{ path(surveyIndexPath) }}?c={{ c }}&m={{ m }}";
                        }
                    );                    
                });
            });
        } )( jQuery );
    </script>
{% endblock %}

