{% extends layout_teacher %}
{% block title %}Espace enseignant{% endblock %}
{% block content %}
<div class="main-container">
    <!-- hidden Title H1 -->
    <h1 class="hide">Ajout note</h1>

    <!-- big slider banner espace Enseignant -->
    <section class="banner banner-espaceEtudiant banner-espaceEnseignant">
        <div class="banner-container">
            <div class="container">
                <div class="row">
                    <figure class="col-12 bigImg-back">
                        <img src="{{ asset('/assets/images/data/banner-authentication.png') }}" alt="Espace étudiant" width="100%">
                    </figure>
                </div>
            </div>
        </div>
    </section> <!-- /Big slider --> 

    <!-- breadcrumb -->
    <nav aria-label="breadcrumb" class="breadcrumb-bloc container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="iconucm-home"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page"><span>Notes</span></li>
        </ol>
    </nav><!-- /breadcrumb -->

    <div class="main-contentPage spaceTeacher-container">
        <div class="container container_row">
            <!-- aside Left -->
            <aside class="asideLeft asideSticky">
                {{ include('frontend/chef-mention/_menu.html.twig') }}
            </aside> <!-- /aside Left -->

            <!-- main Bloc -->
            <article class="mainBloc mainBloc-etudiants mainBloc-enseignants" id="mainBloc">
                <div class="title-group">
                    <p class="sup-title">Enseignant</p>
                    <h2 class="title-bloc">Notes</h2>
                </div>
                <!-- content ajout note -->
                <section class="content content-list">
                    <div class="form-bloc form-inline">
                        <div class="card">
                            <div class="card-body">
                                <form id="notte-new" method="POST" class="page-form-edit-new form-validation" enctype="multipart/form-data" role="form" action=" {{ path(noteEdit, {teacher_id: teacherId, matiere_id: matiere.id}) }} ">
                                    <h4 class="card-title">{{ matiere.uniteEnseignements.mention.nom }} {{ matiere.uniteEnseignements.niveau.libelle }} : {{ matiere.nom }}</h4>
                                    <!-- input hidden -->
                                    {{ form_errors(form) }}
                                    {{ form_row(form._token) }}
                                    <input type="hidden" id="note_matiere" name="note[matiere]" value="{{ matiere.id }}">
                                    
                                    <div class="table-responsive table-wrapper">
                                        <table class="table table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Nom et prénom</th>
                                                    <th width="10%">Note</th>
                                                    <th width="10%"> Rattrapage</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% set submitForm = false %}
                                                {% for etudiant in etudiants %}
                                                    {% if etudiant.etudiantId is not empty %}
                                                        {% set submitForm = true %}
                                                        <tr class="middle-align">
                                                            <td>{{ etudiant.etudiant_name }}</td>
                                                            <td>
                                                                <input type="text" id="note_etudiant_{{ etudiant.etudiantId }}" name="note[etudiant][{{etudiant.etudiantId}}][note]" maxlength="255" class="form-control number" value ="{{ etudiant.note }}"
                                                                >
                                                            </td>
                                                            <td>
                                                                {% if etudiant.note != "" and (etudiant.note == 0 or etudiant.note > 0) %}
                                                                    <input type="text" id="rattrapage_etudiant_{{ etudiant.etudiantId }}" name="note[etudiant][{{etudiant.etudiantId}}][rattrapage]" maxlength="255"
                                                                    class="form-control number" value="{{ etudiant.rattrapage }}"
                                                                    >
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    
                                    <div class="groups-btn justify-content-end text-right">
                                        {% if submitForm %}
                                            <button type="submit" class="btn btn-primary" id="btn-submit-product-form">Valider</button>
                                        {% endif %}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </article> <!-- /main Bloc -->
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        (function ($) {
            $(document).ready(function () {
                $('#anneeUniv').change((e) => {
                    const anneeUnivId = e.target.value;

                    window.location.href = "{{ path('front_teacher_add_notes', { id: matiere.id}) }}?au=" + anneeUnivId
                });
            });

        })(jQuery);
    </script>
{% endblock %}