<section class="widget lastActu-widget">
    <h2>les dernières opportunités</h2>
    <div class="list-actus">
        {% if(derniereOpportunite | length > 0) %}
            {% for opportunite in derniereOpportunite %}
                <div class="item-actu">
                    {%  set param = null %}
                    {% if opportunite.slug is not empty %}
                        {%  set param = path('details_opportunite', { slug: opportunite.slug })  %}
                    {% endif %}
                    <a href="{{ param }}" title="{{ opportunite.title }}">
                        <figure>
                            <img src="{{ asset('/uploads/opportunite/') }}{{ opportunite.uuid }}/105-{{ opportunite.path }}" alt="{{ opportunite.path }}">
                        </figure>
                        <div class="desc-actus">
                            <h3 class="m-0">{{ opportunite.title }}</h3>
                            <div class="text">
                                {% autoescape %}
                                    <p>{{ opportunite.detail|striptags|u.truncate(100, '...')|raw }}</p>
                                {% endautoescape %}
                            </div>
                            <p class="wrap-linkInfos"><span href="" class="moreInfoslink">Lire la suite</span></p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% endif %}

        <p class="wrap-linkShowAll">
            <a href="{{ path('list_actualite') }}" class="showAll" title="Afficher tout">Afficher tout <i class="iconucm-chevron-right"></i>
            </a>
        </p>
    </div>
</section>