{% extends layout_frontend %}
{% block title %}Emploi du temps{% endblock %}
{% block content %}
<div class="main-container">
    <!-- hidden Title H1 -->
    <h1 class="hide">Emploi du temps - concours</h1>

    <!-- big slider banner formation -->
    <section class="banner banner-scolarite">
        <div class="banner-container">
            <div class="container">
                <div class="row">
                    <figure class="col-12 bigImg-back">
                        <img src="{{ asset('/assets/images/data/banner-authentication.png') }}" alt="Espace étudiant" width="100%">
                    </figure>
                </div>
            </div>
            <div class="desc">
                <div class="container">
                    <h2 class="main-title">Espace Scolarité</h2>
                </div>
            </div>
        </div>
    </section><!-- /Big slider -->

    <!-- breadcrumb -->
    <nav aria-label="breadcrumb" class="breadcrumb-bloc container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="iconucm-home"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="" title="Espace scolarité">Espace scolarité</a></li>
            <li class="breadcrumb-item active" aria-current="page"><span>Emploi du temps - concours</span></li>
        </ol>
    </nav><!-- /breadcrumb -->
    

    <div class="main-contentPage spaceScolarity-container">
        <div class="container container_row">
            <!-- aside Left -->
            <aside class="asideLeft asideSticky">
                {{ include('frontend/scolarite/_menu.html.twig') }}
            </aside><!-- /aside Left -->

            <!-- main Bloc -->
            <article class="mainBloc mainBloc-etudiants mainBloc-scolarity" id="mainBloc">
                <section class="emploiTemps-concours-content richText">
                    <!-- content -->
                    <div class="title-group">
                        <p class="sup-title">Scolarité</p>
                        <h2 class="title-bloc">Emploi du temps - concours</h2>
                    </div>

                    <div class="mb-4">
                        <a href="{{ path('front_scolarite_concours_edt_add') }}"  class="btn btn-primary btn-connexion">
                            <span>Ajouter/Modifier un emploi du temps</span>
                        </a>
                    </div>

                    <!-- filter block -->
                    <div class="form-bloc filter-bloc">
                        <div class="card">
                            <div class="card-body">
                                <form id="filter-form" autocomplete="off">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group row">
                                                <label class="col-xl-4">Mentions :</label>
                                                <div class="form-field select-field col-xl-8">
                                                    <select name="mention" class="form-control" id="mention">
                                                        <option value="">--- Mentions ---</option>
                                                        {% for item in mentions %}
                                                        <option value="{{ item.id }}" {% if item.id == m %}selected{% endif %}>{{ item.nom }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group row">
                                                <label class="col-xl-4">Parcours :</label>
                                                <div class="form-field select-field col-xl-8">
                                                    <select name="parcours" class="form-control" id="parcours">
                                                        <option value="">--- Parcours ---</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group row">
                                                <label class="col-xl-4">Concours :</label>
                                                <div class="form-field select-field col-xl-8">
                                                    <select name="concours" class="form-control" id="concours">
                                                        <option value="">--- Concours ---</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> <!-- /filter block -->
                    <!-- table list emploi du temps | concours -->
                    <div class="table-responsive table-wrapper" id="edt-list">

                    </div>
                    <!-- /table list emploi du temps | concours -->
                </section>
            </article> <!-- /main Bloc -->
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script>
        (function ($) {
            $(document).ready(function () {
                let m = $('#mention :selected').val();
                let c = $('#concours :selected').val();
                $('#mention').on('change', function () {
                    const mentionId = $(this).val(),
                        parcoursId = $('#parcours').val();
                    $('#edt-list').html("");
                    $.ajax({
                        method: "GET",
                        url:    "{{ path('front_scolarite_concours_edt_ajax_concours') }}",
                        data:   {
                            mentionId:  mentionId,
                            parcoursId: parcoursId,
                        }
                    }).done(
                        function (html) {
                            $('#concours').html(html);
                        }
                    )
                    $.ajax({
                        method: "GET",
                        url:    "{{ path('front_scolarite_concours_edt_ajax_parcours') }}",
                        data:   {
                            mentionId:  mentionId
                        }
                    }).done(
                        function (html) {
                            $('#parcours').html(html);
                        }
                    )
                })
                $('#parcours').on('change', function () {
                    const mentionId = $('#mention').val(),
                        parcoursId = $(this).val();
                    $('#edt-list').html("");
                    $.ajax({
                        method: "GET",
                        url:    "{{ path('front_scolarite_concours_edt_ajax_concours') }}",
                        data:   {
                            mentionId:  mentionId,
                            parcoursId: parcoursId,
                        }
                    }).done(
                        function (html) {
                            $('#concours').html(html);
                        }
                    )
                })
                $('#concours').on('change', function () {
                    const concoursId = $(this).val(),
                        mentionId = $('#mention').val();
                    $.ajax({
                        method: "GET",
                        url:    "{{ path('front_scolarite_concours_edt_ajax_list') }}",
                        data:   {
                            mentionId:  mentionId,
                            concoursId: concoursId,
                        }
                    }).done(
                        function (html) {
                            $('#edt-list').html(html);
                        }
                    )
                })
            });

        })(jQuery);
    </script>
{% endblock %}

