{% extends layout_teacher %}
{% block title %}Espace assistant{% endblock %}
{% block content %}
<div class="main-container">
    <!-- hidden Title H1 -->
    <h1 class="hide">Ajouter calendrier examen</h1>

    <!-- big slider banner espace assistant -->
    <section class="banner banner-espaceEtudiant banner-espaceAssistant">
        <div class="banner-container">
            <div class="container">
                <div class="row">
                    <figure class="col-12 bigImg-back">
                        <img src="{{ asset('/assets/images/data/banner-authentication.png') }}" alt="Espace étudiant" width="100%">
                    </figure>
                </div>
            </div>    
            <div class="desc">
                <div class="container">
                    <h2 class="main-title">Espace assistant</h2>
                </div>
            </div>
        </div>
    </section><!-- /Big slider -->

    <!-- breadcrumb -->
    <nav aria-label="breadcrumb" class="breadcrumb-bloc container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="iconucm-home"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page"><span>Calendrier des examens</span></li>
        </ol>
    </nav><!-- /breadcrumb -->

    <div class="main-contentPage spaceAssistant-container">
        <div class="container container_row">
            <!-- aside Left -->
           <aside class="asideLeft asideSticky">
                {{ include('frontend/assistant/_menu.html.twig') }}
            </aside> <!-- /aside Left -->

            <!-- main Bloc -->
            <article class="mainBloc mainBloc-etudiants mainBloc-assistant" id="mainBloc">
                <div class="title-group">
                    <h2 class="title-bloc">Ajout calendrier examen</h2>
                </div>
                <!-- content ajouter emploi du temps -->
                <section class="ajout-edt-content content">
                    <div class="form-bloc form-inline">
                        <div class="card">
                            <div class="card-body">
                                <form id="emploi_du_temps-new" method="POST" class="page-form-edit-new form-validation" enctype="multipart/form-data" role="form" >
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-xl-4 label-content">
                                                    {{ form_label(form.libelle, 'Titre *:') }}
                                                </div>
                                                <div class="col-xl-8">
                                                    {{ form_widget(form.libelle) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-xl-4 label-content">
                                                    {{ form_label(form.dateSchedule, 'Date *:') }}
                                                </div>
                                                <div class="col-xl-8">
                                                    {{ form_widget(form.dateSchedule) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-xl-4 label-content">
                                                    {{ form_label(form.startTime, 'Heure début *:') }}
                                                </div>
                                                <div class="col-xl-8">
                                                    {{ form_widget(form.startTime) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-xl-4 label-content">
                                                    {{ form_label(form.endTime, 'Heure fin *:') }}
                                                </div>
                                                <div class="col-xl-8">
                                                    {{ form_widget(form.endTime) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-xl-4 label-content">
                                                    {{ form_label(form.departement, 'Département *:') }}
                                                </div>
                                                <div class="col-xl-8">
                                                    {{ form_widget(form.departement) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-xl-4 label-content">
                                                    {{ form_label(form.mention, 'Mention *:') }}
                                                </div>
                                                <div class="col-xl-8">
                                                    {{ form_widget(form.mention) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-xl-4 label-content">
                                                    {{ form_label(form.niveau, 'Niveau *:') }}
                                                </div>
                                                <div class="col-xl-8">
                                                    {{ form_widget(form.niveau) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-xl-4 label-content">
                                                    {{ form_label(form.semestre, 'Semestre *:') }}
                                                </div>
                                                <div class="col-xl-8">
                                                    {{ form_widget(form.semestre) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-xl-4 label-content">
                                                    {{ form_label(form.parcours, 'Parcours :') }}
                                                </div>
                                                <div class="col-xl-8">
                                                    {{ form_widget(form.parcours) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-xl-4 label-content">
                                                    {{ form_label(form.uniteEnseignements, 'unite d\'enseignements * :') }}
                                                </div>
                                                <div class="col-xl-8">
                                                    {{ form_widget(form.uniteEnseignements) }}
                                                </div>
                                            </div>
                                        </div>                                    
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-xl-4 label-content">
                                                    {{ form_label(form.matiere, 'Matiere *:') }}
                                                </div>
                                                <div class="col-xl-8">
                                                    {{ form_widget(form.matiere) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{ form_errors(form) }}
                                    {{ form_row(form._token) }}

                                    <div class="action-validate">
                                        <div class="groups-btn justify-content-end mt-0">
                                            <button type="submit" class="btn btn-primary" id="btn-submit-edt-form">Valider</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </article> <!-- /main Bloc -->
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        (function ($) {
            $(document).ready(function () {
                $form = $('#emploi_du_temps-new');
                $niveau = $('#examen_calendar_niveau');
                $mention = $('#examen_calendar_mention');
                $parcours = $('#examen_calendar_parcours');
                $semestre = $('#examen_calendar_semestre');
                $ue = $('#examen_calendar_uniteEnseignements');
                $niveau.bind('change', function(){
                    // $form = niveau.closest('form');
                    // $.ajax({
                    //     url: "{{ path('front_examen_calendar_new') }}",
                    //     type: 'POST',
                    //     data: {
                    //         'examen_calendar[niveau]': $niveau.val(),
                    //         'examen_calendar[mention]': $mention.val()
                    //     },
                    //     complete: function(html) {
                    //         $('#examen_calendar_semestre').html($(html.responseText).find('#examen_calendar_semestre').html());
                    //         $('#examen_calendar_parcours').html($(html.responseText).find('#examen_calendar_parcours').html());
                    //     }
                    // });                    
                    let data = $form.serialize();
                    $.post("{{ path('front_examen_calendar_new') }}", data, function(htmlResp){
                        $semestre.html($(htmlResp).find('#examen_calendar_semestre').html());
                        $parcours.html($(htmlResp).find('#examen_calendar_parcours').html());
                    });                        
                });
                $parcours.bind('change', function(){
                    let data = $form.serialize();
                    $.post("{{ path('front_examen_calendar_new') }}", data, function(htmlResp){
                        $ue.html($(htmlResp).find('#examen_calendar_uniteEnseignements').html());
                    });
                });
                $semestre.bind('change', function(){
                    let data = $form.serialize();
                    $.post("{{ path('front_examen_calendar_new') }}", data, function(htmlResp){
                        $ue.html($(htmlResp).find('#examen_calendar_uniteEnseignements').html());
                    });
                });
                $ue.bind('change', function(){
                    let data = $form.serialize();
                    $.post("{{ path('front_examen_calendar_new') }}", data, function(htmlResp){
                        $('#examen_calendar_matiere').html($(htmlResp).find('#examen_calendar_matiere').html());
                    });
                });
            });
        })(jQuery);
    </script>
{% endblock %}