{% extends layout_backend %}
{% block title %}ConcoursMatiere::Liste{% endblock %}

{% set menuConcours     = true %}
{% set menuConcoursMatiereList = true %}

{% block pageicon %}
    pe-7s-notebook
{% endblock %}
{% block pagetitle %}
    Liste des matières
{% endblock %}
{% block pagetitlesmall %}{% endblock %}
{% block content %}
    {% for message in app.flashes('Infos') %}
        <div class="alert alert-success" style="border:none;border-radius:0;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close"
               style="color:#fff; opacity:0.9;">&times;</a>
            {{ message }}
        </div>
    {% endfor %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-bd ">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="list-count">
                            <span class="title-count-text"> TOTAL: </span><span class="title-count"></span>
                        </div>
                    </div>
                </div>
                <div class="add-btn-top-list">
                    <a href="{{ path('admin_concours_matiere_add') }}" onclick=";">
                        <button class="btn btn-mini btn-mini-rectif"><i class="glyphicon glyphicon-plus"></i> Nouveau
                        </button>
                    </a>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover list-data">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Titre</th>
                                <th>Concours</th>
                                <th>Mention</th>
                                <th>Parcours</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in matieres %}
                                <tr>
                                    <td>
                                        <a href="{{ path('admin_concours_matiere_edit', { id: item.id }) }}">{{ item.id }}</a>
                                    </td>
                                    <td>{{ item.libelle }}</td>
                                    <td>{{ item.concours.libelle }}</td>
                                    <td>{{ item.mention.nom }}</td>
                                    <td>{% if item.parcours %}{{ item.parcours.nom }}{% endif %}</td>
                                    <td style="text-align: center;">
                                        <a href="{{ path('admin_concours_matiere_edit', { id: item.id }) }}" title="Modifier">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </a>

                                        <form id="delete-form-{{item.id}}" method="post" action="{{ path('admin_concours_matiere_delete', {id: item.id })}}" style="display:inline-block">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{csrf_token('delete' ~ item.id)}}">
                                            <a class="" onclick="javascript:deleteElement('{{ item.id }}');" href="javascript:;" title="Supprimer">
                                                <i class="glyphicon glyphicon-remove color-red"></i>
                                            </a>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function deleteElement(id) {
            if (confirm('Etes-vous sûr de vouloir supprimer cet element ?')) {
                $("#delete-form-"+id).submit();
            }
        }

        $(document).ready(function () {

            $('.list-data').DataTable({
                "pageLength":     10,
                "order":          [[0, "desc"]],
                "bProcessing":    true,
                "bFilter":        true,
                "oLanguage":      {
                    "sProcessing": "traitement...",
                    "oPaginate":   {
                        "sPrevious": "Précédente", // This is the link to the previous profil
                        "sNext":     "Suivante", // This is the link to the next profil
                    },
                    "sSearch":     "Filtrer: ",
                    "sLengthMenu": "Afficher _MENU_ enregistrement",
                    "sInfo":       "Voir _TOTAL_ de _PAGE_ pour _PAGES_ entrées",
                    "sInfoEmpty":  "Voir 0 de 0 pour 0 entrées",
                    "sEmptyTable": "Aucun concours trouvé",
                },
                "footerCallback": function (row, data, start, end, display) {
                    $('.title-count').html(display.length);
                }
            });
        });

    </script>
{% endblock %}
